[2015-04-21 04:57] gcurtis opened #13 "Redirect URI mismatch when running sample app"
When running the sample app, I get a redirect_uri mismatch after attempting to login:

![Screenshot of redirect_uri error](http://i.imgur.com/N2dqbm3.png)

I found [some documentation](https://github.com/box/box-ios-content-sdk/blob/060d10abb52d8e7a7c9512f3a36bb9bf861dbd4f/BoxContentSDK/BoxContentSDK/OAuth2/BOXOAuth2Session.h#L64) in BOXOAuth2Session.h that says I must leave the redirect_uri in my

[2015-04-24 17:59] #13 closed, assigned to boxtcarpel

[2015-05-22 19:53] MaximeBoulat opened #26 "Having trouble getting the .enterprise value from BoxUser with BOXUserRequest to differenciate between enterprise and personal account"
The .enterprise flag always comes in as nil using both my company's test account. One is personal the other is enterprise. I do have the requestAllUserFields property of the request set to YES.

What am I missing? Thanks.

[2015-05-22 19:57] RicoYao commented on #26
Hi @MaximeBoulat, thank you for reaching out. What is the specific request that you are making? (i.e. which request are you setting requestAllUserFields for)

EDITED: Sorry for the redundant question, I see you specified BOXUserRequest in your title. We'll investigate.

[2015-05-22 20:14] RicoYao commented on #26
I tried with the following code on an enterprise account, and I was able to retrieve the enterprise from the BOXUser object:

[code]

Is this similar to what you're doing?

[2015-05-26 14:35] MaximeBoulat commented on #26
Hello,

Yes that is exactly what I am doing. Is there a way I can communicate to you the account my company gave me for the box integration directly? Maybe there s something wrong with the account? It does work with the web client.

[2015-05-26 17:30] RicoYao commented on #26
Hi @MaximeBoulat could you please send a message through our help portal: https://support.box.com/hc/en-us/requests/new?ticket_form_id=31523

Reference this github issue so we have context, and include the email address of the enterprise account so we can check on it.

[2015-05-26 18:13] MaximeBoulat commented on #26
Thank you. I figured out what was wrong. It was on my side. Thanks for the feedback. Closing the issue

[2015-05-26 19:22] MaximeBoulat commented on #26
I am having another problem. Now that I am actually getting the .enterprise payload I am crashing when a user is not enterprise!!!!

Because the enterprise value of the JSON is null and when its parsed in BoxUser.m it crashes in

[code]

I have attached a screenshot of the crash with the JSON payload in the console. Can you confirm that when a BoxUserRequest is configured with requestAllUserFields

[2015-05-26 19:29] RicoYao commented on #26
Thanks for flagging that. We will fix.

[2015-05-26 21:27] RicoYao commented on #26
We pushed v1.0.3 of this SDK which contains a fix for this issue. Could you please try updating your pod? Thanks.

[2015-05-27 17:39] MaximeBoulat commented on #26
okay thanks it seems good closing the issue.

[2015-05-27 17:39] #26 closed, assigned to RicoYao

[2015-06-03 20:31] JamesKuang opened #31 "Assert in BOXContentClient init crashing unintentionally if clientID and client secret not set"
Hi,

I am getting a crash in `[[BOXContentClient defaultClient] logOut]` and traced it to the singleton not haven't been initialized yet (BOXContentClient `init` crashes from the Assert for clientID and client secret not set). I know the Assert here is well intentioned, however there is a case where calling `logout` before it is initialized that I believe should be accounted for.

Because the BOX

[2015-06-04 00:32] RicoYao commented on #31
Thanks for the feedback. As you noticed in your update, setClientID:clientSecret: is a class method that does not require an instance of BOXContentClient to exist yet. As you suggest, I'll update the README to suggest that setClientID:clientSecret: be called in UIApplicationDelegate.

[2015-06-05 17:45] #31 closed, assigned to nobody

[2015-06-12 22:00] js-jung opened #37 "BOXFolderItemsRequest does not give the size of file."
Hi.

I developing mobile app using box content sdk.
There is one problem, size property of BOXItem always have nil value.
I would check for this problem.

Thanks.

[2015-06-12 22:43] achunBOX commented on #37
Hi Jaesung,

I'm unable to recreate this error on our side, can you specify what you're trying to do and how you're using the SDK? Thanks!

[2015-06-13 13:13] js-jung commented on #37
[code]

I've been checked JSONObject, It does not have size entry.

[2015-06-15 17:24] achunBOX commented on #37
Hi Jaesung,

Can you tell me what the value of the variable "path" is?

Thanks!

[2015-06-15 21:41] js-jung commented on #37
"path" is content folder id. It's modelID property in BOXItem class.

Thanks!

[2015-06-15 22:07] achunBOX commented on #37
Try setting the request's requestAllItemFields property to YES and it should work!

[2015-06-16 01:46] js-jung commented on #37
It was my mistake.
Sorry man.

I resolved issue.
Thanks!

Have a good day.

[2015-06-16 01:46] #37 closed, assigned to nobody

[2015-07-06 21:31] boxtcarpel opened #49 "#warning in BOXSampleAccountsViewController.m is confusing"
Does not state that it is specific to App Users / Developer Edition. Should probably link to the documentation as well for people who might not know what that is.

[2015-07-28 03:34] vinceplusplus opened #55 "Memory leaks from requests causing completionBlock to be retained indefinitely"
Hi,

I am using this SDK for a mobile app project. However, after performing some requests, captured objects from my completion blocks don't seem to get released. Digging into the SDK's source code, I found out a couple of retain cycles. Most of them retain strong self in the success handlers. One of them doesn't set a recursive __block block to be nil after use. Please refer to a dirty fix commit

[2015-07-28 03:45] vinceplusplus opened #56 "Missing requestAllFile/FolderFields for some requests"
Hi,

It seems that some requests returning BOXFile/BOXFolder instances do not have a request-all-fields field. Some of them do return complete information and some of them don't. This makes it a bit inconsistent

BOXFolderCreateRequest
BOXFileUploadRequest
BOXFileUploadNewVersionRequest
BOXFolderCopyRequest
BOXFileCopyRequest

Thanks

[2015-07-28 03:49] vinceplusplus opened #57 "BOXFileUploadNewVersionRequest missing contentModifiedAt field"
Hi,

The said request is missing the contentModifiedAt field while BOXFileUploadRequest has it. The older SDK also has it

Thanks

[2015-07-28 17:28] #49 closed, assigned to nobody

[2015-07-29 20:24] RicoYao commented on #57
Thanks, we will fix.

[2015-07-29 20:24] RicoYao commented on #56
Thanks, we will fix.

[2015-08-01 00:05] achunBOX commented on #57
Hi, according to the documentation link below, it doesn't seem like uploading a new version of the same file should support a contentModifiedAt field. Could you link me the file from the previous SDK that allows this? Thanks!

https://box-content.readme.io/reference#upload-a-new-version-of-a-file

[2015-08-01 00:55] vinceplusplus commented on #57
Hi,

Could be my bad, I didn't look up the current documentation. However, according to the old SDK, to upload/overwrite we will use **BoxFilesRequestBuilder** which is derived from **BoxItemsRequestBuilder**

https://github.com/box/deprecated-box-ios-sdk/blob/master/BoxSDK/RequestBuilders/BoxItemsRequestBuilder.h

It has a field called **contentModifiedAt** which has the following as part of its

[2015-08-01 01:23] achunBOX commented on #56
Addressed in the PR linked below.

https://github.com/box/box-ios-sdk/pull/58

[2015-08-03 18:12] #56 closed, assigned to achunBOX

[2015-08-03 21:51] achunBOX commented on #57
Hi @vinceplusplus ,

Currently, changing the contentModifiedAt field is not an intended functionality in our API for uploading new versions of a file.

Please let me know if you have any additional questions!

[2015-08-03 21:51] #57 closed, assigned to achunBOX

[2015-08-03 23:03] achunBOX commented on #55
Thanks for pointing this out! I've opened a PR for a fix and linked it below. Please let us know if you find any other issues.

https://github.com/box/box-ios-sdk/pull/59

[2015-08-03 23:38] #55 closed, assigned to boxtcarpel

[2015-08-04 06:57] vinceplusplus commented on #57
Thanks for the answer, but may I know why it is not an intended functionality?

[2015-08-11 09:28] ezestkuldeep opened #62 "Access to tags from iOS Content API"
There is no option to access the tags for files and folders using iOS content SDK.

[2015-08-13 21:44] boxtcarpel commented on #62
Thank you for reaching out and using the SDK. At this time, our current focus at Box is to enhance our 'Metadata' features rather than further investment in 'Tags'. Please check out the metadata functionality of the SDK to see if that fits your needs.

[2015-08-18 21:25] boxtcarpel commented on #62
I'm going to close this issue for now. If you have further questions on this, please feel free to respond and reopen.

[2015-08-18 21:25] #62 closed, assigned to boxtcarpel

[2015-08-24 15:25] vinceplusplus opened #66 "[BOXFileThumbnailRequest performRequestWithProgress:completion:] always results in nil image"
image in completion handler is always nil

[2015-08-24 18:55] boxtcarpel commented on #66
Hello Vince, thank you for using the SDK. How are you getting your BOXFileThumbnailRequest object? Are you using the BOXContentClient's -fileThumbnailRequestWithID:size: method?
If you haven't already, please compare against the sample app to find the expected usage.

Please let us know if that helps or if you are still encountering issues.

[2015-08-25 00:50] vinceplusplus commented on #66
Thanks, I have just tried the sample and it worked. It seems that the request must be retained until completion to have useful result, is it the intended practice?

[2015-08-25 06:35] boxtcarpel commented on #66
You shouldn't have to retain the request at the app layer. The sample app does it, but only in order to be able to cancel the request if the cell gets deallocated.

To test that, you can try changing line 66 in BOXSampleItemCell.m to 'BOXFileThumbnailRequest *request2 =' instead of self.request, and then call performRequest on request2. I made that change locally and I am still getting the thumbna

[2015-08-25 09:40] nhattieunhatkiem opened #69 "'Dependency "box-ios-sdk" has no shared framework schemes' error when using Carthage"
I got this error when using Carthage to build box-ios-sdk to framework. Is this a bug ?
Using CocoaPod to install box-ios-sdk with use_framework! config does not work too. File not found when I try to import BoxContentSDK.h file

[2015-08-25 18:50] boxtcarpel commented on #69
@nhattieunhatkiem I think this pull request (https://github.com/box/box-ios-sdk/pull/70) should fix your CocoaPods issue.

I'm not sure about the Carthage error. We would need to look into that.

[2015-08-26 01:46] vinceplusplus commented on #66
I grabbed the zip download of the latest master branch, changed clientId and clientSecret, changed the two lines as you suggested, ran the app, navigated to a folder containing an image file, the app crashed with the following log:
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '**\* setObjectForKey: object cannot be nil (key: ***************************)'

I added

[2015-08-26 05:27] skathiresan commented on #66
I am facing the same issue that @vinceplusplus  has mentioned.
The image in the completionhandler is always nil.  This used to work just fine in the previous version.
It works if i have a strong property for the thumbnail request.   I am not sure if i want to have my class that way though.

[2015-08-26 08:36] nhattieunhatkiem opened #72 "can not change redirectURI and nonce to custome variables"
The box-ios-sdk only work when I create a new Box application with empty redirectURI, with current box app with an existing redirectURI, there is no way to get it work.

Also, is there anyway to get box credentialSecret and credentialToken returned after I logged in ? I need these values to perform Meteor login using Box Account.

Thanks.

[2015-08-26 17:47] RicoYao commented on #72
Hi @nhattieunhatkiem
1. For the redirectURI, you should set it to boxsdk-YOUR_CLIENT_ID://boxsdkoauth2redirect
   There's more detail about this here: https://github.com/box/box-ios-sdk/blob/master/doc/Setup.md#configure-your-application
2. Assuming you're referring to the refresh-token and access-token you can get it like this:

[code]

[2015-08-26 17:57] RicoYao commented on #66
@boxtcarpel I believe this was caused by a recent change made by @achunBOX to eliminate the strong reference to the request from within the completion block:

https://github.com/box/box-ios-sdk/blob/master/BoxContentSDK/BoxContentSDK/Requests/BOXFileThumbnailRequest.m#L90

I believe we need to undo this, at least for this particular request.

[2015-08-26 18:16] nhattieunhatkiem commented on #72
Sorry I did not tell it clear.

My problem is I have an web app using Meteor framework that integrated with my Box app. And I use box accounts to login into my App (web and iOS). If I change my redirectURI to boxsdk-YOUR_CLIENT_ID://boxsdkoauth2redirect, my web app will not able to login anymore. That's why I need those credentialSecret and credentialToken values.

I can see that there is an optio

[2015-08-26 21:45] RicoYao commented on #72
I've created a pull request to allow for customization of the redirect uri:
https://github.com/box/box-ios-sdk/pull/74

It would work like this:
[BOXCLient setClientID:@"client-id" clientSecret:@"client-secret" redirectURIString:@"redirectURIString"];

[2015-08-26 22:13] RicoYao commented on #66
Created this pull request: https://github.com/box/box-ios-sdk/pull/75

[2015-08-27 04:22] nhattieunhatkiem commented on #69
New change still not work. I still got file not found error when trying this
#import <BoxContentSDK/BOXContentSDK.h>
@import box_ios_sdk does not work too. Can not find module.

About Carthage error, you can go here for detail:
https://github.com/Carthage/Carthage
1. Install Carthage
2. Create a Cartfile file with content:
   github "box/box-ios-sdk"
3. run 'carthage update'
   then you will get i

[2015-08-27 08:19] boxtcarpel commented on #69
Are you sure the new change was applied? We have not yet bumped the SDK version, so a pod update would not have pulled in this change.

[2015-08-27 10:44] nhattieunhatkiem commented on #69
sorry, my bad. I changed my podfile to this
    pod 'box-ios-sdk', :git => 'https://github.com/box/box-ios-sdk.git'
and new changes were applied.

Everything work now. Thanks

[2015-08-27 11:13] nhattieunhatkiem commented on #72
Everything work fine now
It will be best if _nonce value contains loginStyle and credentialToken inside.

[2015-08-27 11:53] nhattieunhatkiem commented on #72
Your new changes cause app fail to login. Can you check BOXAuthorizationViewController.m line 241. requestIsForLoginRedirectScheme is alway YES. It should only YES after server return Code value. OAuth2Session performAuthorizationCodeGrantWithReceivedURL run even code is undefined in URL.

[2015-08-27 15:19] nhattieunhatkiem commented on #69
can you fix this issue in box-ios-browse-sdk too, I cannot include the header file into my project

BoxBrowseSDK/BoxBrowseSDK.h file not found

[2015-08-27 15:39] boxtcarpel commented on #69
Yep, we're making the change in all of our SDKs. It's coming right up.

[2015-08-27 15:39] #69 closed, assigned to RicoYao

[2015-08-27 16:09] boxtcarpel commented on #72
Thanks for catching, @nhattieunhatkiem
This is because having a redirect URI with a non-unique scheme (such as https://) was previously unexpected behavior. Now that the redirect URI can be set directly, that needs to be supported.

Please see https://github.com/box/box-ios-sdk/pull/77.

[2015-08-27 16:09] #72 closed, assigned to nobody

[2015-08-27 16:30] nhattieunhatkiem commented on #72
I tested new change with this login code

[code]

After fill login form and authorize It shows error instead of logged in user

[2015-08-27 16:47] boxtcarpel commented on #72
Thanks for testing @nhattieunhatkiem (I was hoping you would). What is the error you are seeing?

In my tests auth was successful. If requestIsForLoginRedirection is getting the correct value now, then this might be a different (additional) issue.

[2015-08-27 17:11] RicoYao commented on #66
hey @vinceplusplus , @skathiresan I believe this should be fixed now but please re-open if you find otherwise. We'll probably increment the official version of this SDK pretty soon, but for now, just pull from the trunk.

[2015-08-27 17:11] #66 closed, assigned to RicoYao

[2015-09-14 13:56] nazywamsiepawel opened #104 "Search request + performRequestWithCompletion SIGABRT crash"
Hey,

I'm trying to implement search functionality using Box SDK. Using Swift 1.2 with Xcode 6.4.

[code]

Unfortunately I'm getting a SIGABRT in `BOXAPIOperation.globalAPIOperationNetworkThreadEntryPoint` (screenshot below)

![screen shot 2015-09-14 at 2 32 04 pm](https://cloud.githubusercontent.com/assets/334875/9850894/b3420396-5aed-11e5-8686-cab726c3438a.png)

With the following error :

[code

[2015-09-15 01:15] RicoYao commented on #104
Thank you for reporting this.

Looks like we have a bad commit from a little while back that is causing this. We're going to revert commit for now.

Pull request for reverting:
https://github.com/box/box-ios-sdk/pull/107

Offending commit:
https://github.com/box/box-ios-sdk/commit/89849ae50129acb8f8a7c16caefa6976e0e6cac2

[2015-09-15 01:17] RicoYao opened #108 "Retain Cycles"
We have some retain cycles in some of our requests.

We need to figure out how to break them when the requests complete.

[2015-09-23 06:18] everestman27 opened #111 "Running BoxContentSDKSampleApp in Xcode 7 with Swift gives errors ..."
Hi,

I am looking to leverage the sample app for a Swift project and followed the instructions for creating a podfile for the BoxContentSDKSampleApp. Later, I updated the code in AppDelegate.m into AppDelegate.swift and added all the user created/UI related .h files in the objective C bridging header. However, I run into a series of a cascading set of issues primarily around header files not being

[2015-09-23 20:15] lasvegasgamer commented on #104
Can you please provide a status update for when the Revert PR will be merged into master?

@RicoYao

[2015-09-23 20:25] nazywamsiepawel commented on #104
@lasvegasgamer  :+1:

[2015-09-24 02:12] RicoYao commented on #104
Apologies for the delays guys. We'll get this merged in the next day.

[2015-09-24 20:10] boxtcarpel commented on #104
This is now in master. A version bump release is coming soon.

[2015-09-24 20:12] boxtcarpel commented on #111
Hi Rajesh,

Thanks for using the SDK and for reaching out. We'll look into this and let you know soon.

[2015-09-29 20:45] vivekvasani commented on #104
+1 for this issue. Will the update be reflected on CocoaPods?

[2015-09-29 22:49] h2kuo commented on #104
We released v1.0.10 today. Thanks for your patience!

[2015-10-02 21:24] nhattieunhatkiem opened #115 ""The authorization code has expired" error when trying perform authentication challenge"
Authorization code was used when bypassing authentication challenge, next time,  when performAuthorizationCodeGrantWithReceivedURL function is called, the authorization code will be expired and cannot be used to get logged in user.

[2015-10-07 21:52] #108 closed, assigned to nobody

[2015-10-07 21:52] #104 closed, assigned to nobody

[2015-10-07 22:00] boxtcarpel commented on #115
Hi nhattieunhatkiem, Thanks for reaching out and using our SDKs!

I'm not sure I understand the issue you're describing. Can you please try to rephrase what you're seeing? Is there a sample code-block you can provide to clarify?

[2015-10-09 09:27] jdizoglio commented on #111
Hi Rajesh,

Apologies ahead of time for the delay in response.

To add the BoxContentSDK to a swift project,  we should create a new swift project. We can add a Podfile to this new project and work from there.

Preliminary info: I using xCode 7.1 beta and CocoaPods 0.38.2

1) Create the swift project -> New project -> Single Application -> < set project name, i.e. BoxContentSDKSampleApp-Swift > ->

[2015-10-13 07:07] pavanSaberjack opened #117 "Crash in BOXKeychainItemWrapper.m"
App crashes suddenly once in a while in method
**resetKeychainItem**
at line 210:
**NSAssert( junk == noErr || junk == errSecItemNotFound, @"Problem deleting current dictionary." );**
Is there any way to avoid this crash/Any update on this issue

[2015-10-13 21:54] RicoYao commented on #117
We've seen this before, and it appears to be a Keychain issue with debug builds:

Here is a thread that provides some additional info:
http://stackoverflow.com/questions/22082996/testing-the-keychain-osstatus-error-34018

I don't believe you will encounter this in release builds. Hope that helps.

[2015-10-15 06:21] pavanSaberjack commented on #117
Hey @RicoYao ,
Thanks a lot for the reply.
I ran into this crash in debug builds. But till now haven't got this same crash in Release builds. I will let you know if I get same crash in Release builds.

[2015-10-19 23:58] boxtcarpel commented on #117
@pavanSaberjack, thanks for following up. I'm going to close this issue for now. Please feel free to re-open if you see this in the field or want to discuss it further in any way.

[2015-10-19 23:58] #117 closed, assigned to nobody

[2015-10-20 00:00] boxtcarpel commented on #115
Hello @nhattieunhatkiem I'm going to close this issue for now. Please do reopen it if you have additional details so that we can help you.

[2015-10-20 00:00] #115 closed, assigned to boxtcarpel

[2015-10-20 00:01] boxtcarpel commented on #111
Hello Rajesh,

Hopefully these steps work for you. Please reopen this ticket if you run into any additional issues.

[2015-10-20 00:01] #111 closed, assigned to jdizoglio

[2015-11-05 17:53] alpkeser opened #132 "Unexpected type received while creating BOXMetadata"
Please check the post that I've opened at stackoverflow;

http://stackoverflow.com/questions/33550632/unexpected-value-while-creating-boxmetadata

Thanks!
Alp

[2015-11-05 18:47] boxtcarpel commented on #132
Thanks for using the SDK and for reaching out, Alp. We'll take a look.

[2015-11-06 08:21] lopopolo commented on #132
`$version` and `$typeversion` are two system keys the metadata team has added in support of schema migrations. There are several issues at play here.
1. When "[Retrieving all custom metadata information (key/value pairs)](https://github.com/box/box-ios-sdk/blob/master/BoxContentSDK/BoxContentSDK/Models/BOXMetadata.m#L45)", the code does the check for system key after it attempts to deserialize the

[2015-11-09 21:36] boxtcarpel commented on #132
Thanks again for catching this issue, it should be resolved by https://github.com/box/box-ios-sdk/pull/134. Please feel free to reopen the issue if you run into further issues.

[2015-11-09 21:36] #132 closed, assigned to boxtcarpel

[2015-11-16 04:29] zelin opened #139 "Downloadable links can't be generated with new sdk"
I am using following code to create a shareable link to download files for others

[code]

As can be seen setDownload is Yes

however when link is opened it gives error access denied.

How can i create downloadable link?

[2015-12-30 22:30] RicoYao commented on #139
Hi @zelin

Apologies for the delayed response. I notice in your code that you did not set the "accessLevel" for the shared link request. Depending upon the type of Box account being used, it's possible that the download URL would still be restricted. As a test, could you try setting the accessLevel to "open" when creating the shared link:

[request setAccessLevel:BOXSharedLinkAccessLevelOpen]

Not

[2016-01-09 20:29] yvan opened #162 "authenticateWithCompletionBlock:cancelBlock: not callable"
Tried to follow instructions here : https://github.com/box/box-ios-sdk/blob/master/doc/Authentication.md

Found this:

<img width="1090" alt="screen shot 2016-01-09 at 2 25 56 pm" src="https://cloud.githubusercontent.com/assets/4513316/12217902/f6efd726-b6dc-11e5-8581-5e0e4117d2be.png">

It looks like the cancel block part of this method is not recognized. I took out the cancel block and it worked

[2016-01-12 19:58] RicoYao commented on #162
Thanks for pointing out these issues.

I've updated the documentation for the first issue you pointed out. You can detect the cancelation, but instead of a separate cancel block, you can look at the error in the completion block. It should have domain:BOXContentSDKErrorDomain code:BOXContentSDKAPIUserCancelledError. You can see an example of this check here:

https://github.com/box/box-ios-sdk/blo

[2016-01-13 17:15] yvan commented on #162
Thanks for taking to time to have a look.

[2016-01-27 21:35] agiletortoise opened #169 "Is there a method to determine if default client is authenticated w/o forcing auth?"
Is there a way to check if a Box client is authenticated silently?  I'd like to be able to query if auth is present, without triggering the authentication process if it is not.

This is useful in apps that want to be able to give an account status screen to users who may or may not have Box linked for use in the app.

Thanks.

[2016-02-01 12:06] amitegghead commented on #13
It should work if you enter boxsdk-YOUR_CLIENT_ID://boxsdkoauth2redirect into the developer console for your redirect_uri, replacing YOUR_CLIENT_ID with your actual client ID.

[2016-02-02 22:52] boxtcarpel commented on #169
The easiest way to test if a Box client is authenticated is check the user property of the client object,

For example, if you have a BOXContentClient object named client (gotten from [BOXContentClient defaultClient] in the simple case) you can check whether the user property is nil or not to ascertain the auth status as such:
[client user] != nil // This means there is no authenticated user in th

[2016-02-03 16:03] agiletortoise commented on #169
That does help, thanks!

[2016-02-03 16:03] #169 closed, assigned to boxtcarpel

[2016-04-08 19:44] adc-jhuang opened #208 "How to use box SDK through our own backend"
It is not safe to store authentication information in the mobile app.

We already access box.net through our own backend. So, our mobile app call our own URL, which calls box.net with authentication information and it shows in a web view. Everything works fine.

Now we want to use box sdk because it is much nicer. However, how do we use the sdk with our own URL instead of box authentication?

[2016-04-13 16:13] alexandrhotko opened #209 "App to app login problem"
I try to integrate app to app login.
1. Add to info.plist LSApplicationQueriesSchemes with "box-onecloud"
2. Add URL Schemes with "boxsdk-MY_CLIENT_ID"
3. Call [ BOXContentClient setAppToAppBoxAuthenticationEnabled:YES ]; before auth.

After redirect to box app, it show black controller with cancel button. What I'm doing wrong?

[2016-04-14 22:55] boxtcarpel commented on #209
Hi @alexandrhotko there is a setting we have to turn on for your application on our backend, before app-to-app auth will begin working for you.
If you give us your client ID, we can get this enabled for you.

If you would rather not do that over GitHub, feel free to contact us directly (https://developers.box.com/help/). Just mention this GitHub issue.

Thanks and good luck.

[2016-04-30 13:36] selvamsankaran commented on #13
For me its not working after adding the content in redirect_uri. Any one have any update...

[2016-05-02 20:29] boxtcarpel commented on #209
@alexandrhotko I believe you've been working with support (and I've enabled app to app auth for your app), so you should be good to go. Please let us know if there is anything else we can help with.

[2016-05-02 20:29] #209 closed, assigned to boxtcarpel

[2016-05-02 20:30] #139 closed, assigned to RicoYao

[2016-05-03 08:29] alexandrhotko commented on #209
Yes, I wrote to support. Now I'm just waiting.

[2016-05-11 13:00] saran-metron opened #222 "Is this app runnable"
i downloaded this application and tried to run the app in IOS but its not running..can some one please help me to run this application and how to integrate with our box application

[2016-05-13 21:56] h2kuo commented on #222
Hi @saran-metron,

Can you tell us what kind of errors you are seeing, and at which step? What Xcode version and CocoaPods version are you using?

If you're trying to run the BoxContentSDKSampleApp, you first need to run `pod install` in the BoxContentSDKSampleApp directory and open the .xcworkspace, not the .xcodeproj.

You also need to make sure you set the client ID and client secret in the BOX

[2016-05-14 14:00] pdxcodemonkey opened #223 "Crash in BOXAPIDataOperation::connection:didReceiveData after canceling download"
My app downloads a long list of video files.  The operation must be cancelable, so I have a cancel button on the view, and when clicked, my controller walks the download queue and calls cancel on the corresponding BOXFileDownloadRequest, then the app goes on about its business.  A good percentage of the time, this results in a crash (EXC_BAD_ACCESS) in connection:didReceiveData, apparently due to

[2016-05-18 18:19] jpm165 opened #224 "BoxContentSDK.h not found"
Hello,
Am I missing something? When I install this into my project using the directions for Cocoapods provided, I get about 9 or so errors that say "'BoxContentSDK/BoxContentSDK.h' file not found". This happens in BOXContentClient+Metadata.h, for example. You can clearly see it says "#import &lt;BoxContentSDK/BoxContentSDK.h&gt;" (and not BOXContentSDK.h).

I can't believe I am the only one this i

[2016-05-18 19:12] h2kuo commented on #224
Hi @jpm165,

Thanks for bringing up this issue. If you do replace all <BoxContentSDK/BoxContentSDK.h> with the capitalized <BoxContentSDK/BOXContentSDK.h>, is it able to compile?

Not all machines are case sensitive, so we may have missed a couple of the import statements because it was compiling for us. We'll make sure to get this updated in the next release!

[2016-05-18 19:53] jpm165 commented on #224
Yes, I just finished up doing that right now and was able to compile everything. Thanks!

[2016-05-18 21:26] #224 closed, assigned to nobody

[2016-05-18 21:36] h2kuo commented on #223
@austxcodemonkey, could you try using our current master branch of the SDK? We believe this issue should have been fixed with PRs #213 and #216, which have not yet been released to CocoaPods.

Please let us know if you're still running into any issues!

[2016-05-18 21:41] boxtcarpel commented on #224
https://github.com/box/box-ios-sdk/pull/225

[2016-05-19 14:37] jpm165 opened #226 "Podfile syntax changed for latest version of Cocoapods"
It looks like 'pod install' no longer works unless you specify a target app in the Podfile...

So for example from the Podfile that comes with BoxContentSDKSampleApp:

pod 'box-ios-sdk', :path => '../' #no longer works
# instead do this

target "BoxContentSDKSampleApp" do
pod 'box-ios-sdk', :path => '../'
end

[2016-05-19 21:06] h2kuo commented on #226
Thanks for catching that! We've updated it on our master branch.

[2016-05-19 21:06] #226 closed, assigned to nobody

[2016-05-20 05:55] saravananNV commented on #111
hi jdizoglio,

[code]

[2016-05-20 06:00] saravananNV opened #228 "Show images on our own view controller using this sdk-ios"
hi jdizoglio,

 first of all thanks to your team for developing this box ios sdk..
 we are integrating this ask into our swift project.we can login using this app and we have to show the images which are in the box.com on our own view controller. we are trying this. can you please help us on this.do we need any token or credentials to achieve that

[2016-05-22 17:21] pdxcodemonkey commented on #223
Thanks, this does appear to have fixed the problem!

[2016-05-22 17:21] #223 closed, assigned to nobody

[2016-05-23 21:00] h2kuo commented on #228
Thanks for using our SDK!

Have you looked at the BoxContentSDKSampleApp in this repository yet? The app contains an example of how to authenticate a user, which handles the tokens/credentials through our SDK client.

You can also look at our documentation for [app setup](https://github.com/box/box-ios-sdk/blob/master/doc/Setup.md) and [authentication](https://github.com/box/box-ios-sdk/blob/maste

[2016-06-02 17:25] helzapps opened #234 "Unable to retrieve tags through iOS SDK"
Tags seem to be an integral part of identifying certain folders and files or creating groups of content. I'm building an app for a client where they would like to utilize tags to identify certain things, but so far I've been unable to determine how to acquires tags on `BOXFolder` or `BOXFile` objects.
Here's how I'm making a request for folders contents:

[code]

I assumed that by setting the `ite

[2016-06-02 17:59] boxtcarpel commented on #234
Thank you for reaching out and using the SDK. At this time, our current focus at Box is to enhance our 'Metadata' features rather than further investment in 'Tags'. Please check out the metadata functionality of the SDK to see if that fits your needs.

[2016-06-02 19:00] helzapps commented on #234
From what I can see metadata only exists for files, or I can only make requests for `BOXFiles`. `metadataAllInfoRequestWithFileID`; `BOXFolders` do not have metadata?
This presents a challenge as the problem I'm trying to solve is the client would like only folders that have been tagged with a specific tag to show up in the app. For programming purposes, even if the `BOXFolder` had metadata which

[2016-06-02 19:26] boxtcarpel opened #235 "Implement metadata operations on Folder objects"
Currently, metadata get/set/delete operations are only exposed for files via the SDK. Support needs to be added for Folders (support has already been added to the API).

[2016-06-02 19:26] boxtcarpel commented on #234
Metadata is supported on folders, however the ability to interact with an individual folder's metadata (get/set/delete) is not yet implemented. That needs to be added, I filed https://github.com/box/box-ios-sdk/issues/235 for it.

However, to achieve what you're trying to do, I would suggest checking out our search functionality for metadata. In https://github.com/box/box-ios-sdk/blob/master/BoxCo

[2016-06-03 08:18] akoncevoiDevicepros opened #236 "Lock Thread in BoxFileSystem.m after call - (void)refreshAccessTokenIfNeeded."
Box sdk version - 1.0.11

When I call `- (void)performRefreshTokenGrant:(NSString *)expiredAccessToken withCompletionBlock:(void(^)(BOXOAuth2Session *session, NSError *error))block` in `BOXOAuth2Session` the completitionBlock doesn't be call see:

[code]

For hotFix I insert call completitionBlock. :

[code]

May be we have another way to fix this problem?

[2016-06-06 22:00] RicoYao commented on #236
Hi @akoncevoiDevicepros I believe this may have been fixed in our master branch. Would you mind trying to update to the master?

[2016-06-07 06:25] akoncevoiDevicepros commented on #236
Thanks @RicoYao, will you update podspec or create new stable tag?

[2016-06-07 23:44] boxtcarpel opened #237 "[sample app] image/video thumnails load small when fetched from cache"
When you scroll through a folder that contains photos in the sample app, the thumbnails first load in normally. Then when scrolling back the other direction, the thumbnails that had previously loaded appear at ~half size.
This is just in regular scrolling through account contents in the Sample app.

[2016-06-07 23:47] boxtcarpel commented on #237
<img width="578" alt="screen shot 2016-06-07 at 4 46 34 pm" src="https://cloud.githubusercontent.com/assets/1891864/15878389/7c8c806a-2ccf-11e6-9a15-aa3650c41aa7.png">

[2016-06-08 10:40] #236 closed, assigned to nobody

[2016-06-08 23:56] dzwilkerson commented on #222
Piggybacking on this issue because I'm questioning the same thing...

I have the sample app setup and can run on a device or simulator. I try to OAuth accounts button. Tap the plus button and get this message in the console:

[code]

Nothing happens. I get crashes when trying the AppUser Accounts (but I'm not planning on doing enterprise accounts so I don't really care)

I originally set my app up

[2016-06-09 22:35] boxtcarpel commented on #234
@helzapps I hope that all makes sense and works well for your needs. I'm closing this issue for now, but please feel free to re-open it or reach out if you have questions or need additional help. Good luck!

[2016-06-09 22:35] #234 closed, assigned to nobody

[2016-06-09 22:37] boxtcarpel commented on #222
@dzwilkerson we recently fixed an issue that sounds like what you are describing (https://github.com/box/box-ios-sdk/pull/238) on the master branch. Can you confirm whether your testing was with that commit or not? If not, does picking up that fix resolve the issue for you? Thanks in advance.

[2016-06-09 23:24] helzapps commented on #234
Understood. We actually found a way to get the info from the JSON data. We ultimately wrote our own subclassed CoreData model version of the BOXFolder object and added the tags to it.

[2016-06-09 23:46] boxtcarpel commented on #234
Glad to hear it, Jordan. Happy it was extensible enough for you. Good luck with your project and let us know if you need additional assistance in the future!

[2016-06-10 00:52] h2kuo commented on #228
@saravananNV I'm going to close this issue for now, but please feel free to reopen it if you are still experiencing any issues!

[2016-06-10 00:52] #228 closed, assigned to nobody

[2016-06-10 06:44] saran-metron commented on #222
thanku

-------- Original Message --------
Subject: Re: [box/box-ios-sdk] Is this app runnable (#222)
From: boxtcarpel notifications@github.com
Date: Thu, June 09, 2016 4:37 pm
To: box/box-ios-sdk box-ios-sdk@noreply.github.com
Cc: saran-metron saran@metronconsulting.com,  Mention
mention@noreply.github.com

@dzwilkerson we recently fixed an issue that sounds like what you are describing (#238) on

[2016-08-11 16:13] #222 closed, assigned to h2kuo

[2016-08-18 07:30] scorovit opened #248 "Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Problem deleting current dictionary.' into ios"
Hi guys.

I have crash into lib when run my app on simulator with iOS 10 after auth into box

**\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Problem deleting current dictionary.'
**\* First throw call stack:
(
    0   CoreFoundation                      0x000000010bda534b **exceptionPreprocess + 171
    1   libobjc.A.dylib                     0x00000001

[2016-08-18 07:45] scorovit commented on #248
problem is in function -(void)resetKeychainItem
<img width="952" alt="2016-08-18_1044" src="https://cloud.githubusercontent.com/assets/1694177/17765816/c68e0046-6530-11e6-92cd-a426b7efe63d.png">

[2016-08-22 22:24] thuyBox commented on #248
@scorovit , we are not seeing this issue from our side on xcode 8 beta 6, are you able to verify with the later version of xcode?

[2016-08-24 19:31] objcguy opened #252 "Long polling on /events is not supported."
Long polling on /event doesn't seem to be implemented yet.

[2016-08-24 22:02] thuyBox commented on #252
@objcguy , thanks for your feedback, we'll look into adding the support and let you know.

[2016-08-25 07:58] scorovit commented on #248
I checked on xcode 8 beta 6 on simulator with iOS 10 and crash reproduced

<img width="946" alt="2016-08-25_1057" src="https://cloud.githubusercontent.com/assets/1694177/17961161/c8286018-6ab2-11e6-8a69-26c16ce183da.png">

[2016-08-25 19:32] thuyBox commented on #248
@scorovit , I have a few questions to troubleshoot this further. Could you please provide the context and steps leading to the issue?
- Is it a fresh install and first login, is it after a logout from a different account then login, did this happen after token expired then login? Is there a certain condition that leads to this issue?
- what is its frequency?
- and does it happen on devices?

[2016-08-26 14:43] scorovit commented on #248
@thuyBox
1. it is first login in box and fresh install
2. each time after restart the application
3. simulator with iOS 10

[2016-08-29 17:59] RicoYao commented on #248
I believe this is the same as this issue:
https://github.com/box/box-ios-sdk/issues/117

It's something that happens in debug builds, but should not happen when compiling for release.

[2016-08-30 09:01] scorovit commented on #248
Thanks, I understood

[2016-08-30 09:01] #248 closed, assigned to thuyBox

[2016-08-30 22:36] RicoYao commented on #248
@scorovit thanks for reporting it. It appears that this is made even worse on iOS 10 / XCode 8.

I do see that someone has already filed a Radar for it:
https://openradar.appspot.com/27844971

Hopefully Apple can address soon.

[2016-08-30 22:47] RicoYao commented on #248
There's also a workaround described in this thread which involves enabling keychain sharing:
http://stackoverflow.com/a/38543243

[2016-08-31 07:01] scorovit commented on #248
Thanks, @RicoYao.  Your last comment helped me to solve the problem with crash.

[2016-09-13 00:29] rtrevivian opened #260 "BOXFileDownloadRequest.performRequestWithProgress(...) not working or producing errors"
# BOXFileDownloadRequest.performRequestWithProgress(...) does not execute the progressBlack during a download, it does execute the completionBlock but no file is seemingly created and no error is reported.

[BoxPrototype.zip](https://github.com/box/box-ios-sdk/files/468606/BoxPrototype.zip)

[2016-09-13 01:51] jdizoglio commented on #260
@rtrevivian - looking into the issue now. At first glance I saw was empty:
BOXContentClient.setClientID("client-id", clientSecret: "client-secret")
Had registered your app with Box dev?
https://developer.box.com/

Not having an auth session is similar to your issue description. However, I'll proceed to review the code with my credentials and verify. Will keep you posted.

Cheers,
Jim

[2016-09-13 04:19] jdizoglio commented on #260
@rtrevivian An status update: I am able to reproduce the issue and nothing to do with credentials. The request is successful and the file item is being returned. However, the response with file data is 0 bytes. I'll let you know what I find.

[2016-09-13 07:14] jdizoglio commented on #260
@rtrevivian For now I have work around.
- In your swift class, BoxTableViewController, line 106-115. replace the request with the following. Create the NSOutputStream locally and use the corresponding fileDownloadRequestWithID. There seems to be a problem opening the output stream on the object c side of the SDK. I will post a fix for the SDK once I have a good solution. In the meantime, the follo

[2016-09-24 05:18] killerz99 opened #263 "Syntax error in the example"
Get the items in a Box Folder

BOXContentClient *contentClient = [BOXContentClient defaultClient];

  *folderItemsRequest = [contentClient folderItemsRequestWithID:@"folder-id"];
[folderItemsRequest performRequestWithCompletion:^(NSArray *items, NSError *error) {
    // If successful, items will be non-nil and contain the list of items; otherwise, error will be non-nil.
}];

[2016-09-26 15:22] boxtcarpel commented on #263
Thanks @killerz99 this should now be resolved.

[2016-09-26 15:22] #263 closed, assigned to boxtcarpel

[2016-10-11 16:51] bitsarat opened #270 "Integrate SDK Manually"
Hi,
Can you please provide instructions to integrate the SDK manually? I do not have admin rights in my mac (to install ruby, cocoapods etc)

[2016-10-12 00:18] jdizoglio commented on #270
Hi @bitsarat ,

We can convert the Sample App Xcode project from pod usage to static library.

The following is an example to convert the SDK’s sample app to use the BOXContentSDK as a static library.

1) Clone the BoxContentSDK from github.
2) Navigate into the box-ios-sdk folder and open the BoxContentSDKSampleApp (BoxContentSDKSampleApp.xcworkspace) in Xcode
3) Delete the file 'Pods.xcodeproj'

[2016-10-13 13:54] bitsarat commented on #270
cool thanks - I will try this and let you know

[2016-10-25 11:57] bazik123 commented on #234
if you are trying to do the same thing the solution is to overwrite the `- (NSArray *)fullFolderFieldsArray` method of BOXRequest and make sure it contains `@"tags"` in addition to all other fields. overwriting a method in a category is terribly ugly, but it does help in this case.

[2016-10-27 19:33] bitsarat commented on #270
I spent the last week resolving issue related to having sub projects (xcodeproj) under your own project. Here is the Apple bug report : https://forums.developer.apple.com/thread/11237. Do you have another suggestion?

[2016-10-27 21:28] jdizoglio commented on #270
As I am not able to replicate, it's going to be a little tough to guess which build setting for you is bringing in device frameworks. I would suggest asking IT to temporarily grant you permission to install pods.

[2016-10-31 06:40] redserpent7 opened #274 "No tokens are returned when authenticating a user"
Hi,

Calling the authenticate API does not return the access and refresh tokens. Why is it different in Android SDK? And how can we get the tokens?

[2016-11-01 17:41] boxtcarpel commented on #274
Hi @redserpent7, thanks for using our SDK and reaching out.

The iOS SDK is built to make it easy to connect to Box on iOS, thus token management (including persistence and refreshing in a multi-threaded request environment) is handled by the SDK for free.

The SDK is also open-source so you can use whatever pieces you would like and implement things yourself by taking out the underlying logic we

[2016-11-03 06:48] redserpent7 commented on #274
thanks, that worked.

[2016-11-03 06:48] #274 closed, assigned to boxtcarpel

[2016-11-16 00:59] #270 closed, assigned to nobody

[2016-11-16 00:59] #260 closed, assigned to nobody

[2016-11-29 20:10] krishnagniyes commented on #111
Hi,

I've followed the same steps but I am getting "Could not build Objective-C module BoxContentSDK". while importing this file AppDelegate.

Please do the needful.

Thanks
Krishna

[2016-11-29 20:27] krishnagniyes opened #282 "Xcode 8, Swift getting "Could not build Objective-C module BoxContentSDK""
Hi,

I've followed following steps but I am getting "Could not build Objective-C module BoxContentSDK". while importing this file AppDelegate.

Please do the needful.

Thanks
Krishna

To add the BoxContentSDK to a swift project, we should create a new swift project. We can add a Podfile to this new project and work from there.

Preliminary info: I using xCode 7.1 beta and CocoaPods 0.38.2

Create

[2016-12-01 19:55] jdizoglio commented on #282
Hi Krishna,

A few of comments to start. If you could move from away from a beta xCode version and preferably to xCode 8.1. I believe the primary issue maybe the cocoapods version. Update pods to version 0.39.0 as this fixes quite a bit of build setting in regards module imports.

(redacted my import module comments as they apply only to an objc app)

Let me know the results,
Jim

[2016-12-02 17:32] jdizoglio commented on #282
Hi Krishna,

Here is bit more info. I ran across some other dev integration challenges related to xCode signing. So let me share these.

I am on xCode 8.1 and using pods 0.39.0. xCode 8.1 has a nuance with code signing that required a work around for the bundle:
https://forums.developer.apple.com/thread/66538

This entry helped me:
"I had the same problem. I did the following steps, and it sovled.

[2016-12-09 19:56] DeArchiTech opened #283 "Framework not found BoxContentSDK"
Hello there, I am trying to link the Box SDK into a project that I am currently working on.
I followed your instruction and tried to add the SDK after I did 'Pod Install'
However, I am still getting a Framework not found issue, any idea of how to proceed forward?

I have tried to modify 'Framework search Paths' , adding the folder to 'Linked Frameworks and Libraries' and adjusting 'Copy Bundle Res

[2016-12-09 21:45] fagg commented on #283
I am seeing a similar issue.

![screen shot 2016-12-09 at 16 44 34](https://cloud.githubusercontent.com/assets/1742468/21065534/d3501466-be2e-11e6-8f43-7a4f869eb79b.png)

[2016-12-09 23:52] kunalbshah opened #284 "Does this library support Single Sign On across multiple apps using this library?"
Hello there, we have a couple in-house iOS apps already using the Box SDK.  We’re trying to use it with a new in-house iOS app, and had a question.
- Does the Box iOS SDK implement SSO feature? i.e. if two app on the same iOS device uses Box API authentication, then user logged into one app will not require logging into the second app. The second app will fetch the user logged in session/ informat

[2016-12-10 00:03] boxtcarpel commented on #284
@kunalbshah Thank you for using the SDK and for reaching out!

We do have this feature, however only the Box App (https://itunes.apple.com/us/app/id290853822) can be an authentication "parent" app currently. So if the user is logged in to the Box app on their device, other apps that use the Box iOS SDK can do app-to-app authentication instead of making the user enter their credentials manually aga

[2016-12-10 00:35] crousselle commented on #283
Hello @noobiehacker @fagg , and thanks for using our SDK !
I was able to reproduce this. We will investigate and report to you guys as soon as we fix this.
What version of CocoaPods are you using ? (you can find this by running `pod --version` in the terminal.
Thanks and have a great weekend !

[2016-12-10 02:04] fagg commented on #283
@crousselle Thanks for your reply.

    [fagg@statler][~][0] -> pod --version
    1.0.0

I actually managed to get this working. I ended up recreating my XCode project and it's now working.

[2016-12-10 02:13] kunalbshah commented on #284
@boxtcarpel - Thanks for your quick response. Yes, we would be interested in exploring this App-to-App authentication. Can you please give us more detail about how to setup this up and share info with you? I have already created a test app on the box developer portal.

I was trying to integrate this api by following the steps mentioned in the 'README' section. I followed the below steps and came a

[2016-12-12 17:57] crousselle commented on #283
@fagg @noobiehacker it looks like this is a project configuration issue.
In both of your screenshots the "Pods" xcode project is not visible in your workspace, which is why the sdk is not found on compilation.
In your `Podfile` file, make sure you have a line specifying the workspace that needs to be used for your Pods. (https://guides.cocoapods.org/using/using-cocoapods.html).
`workspace 'MyWorks

[2016-12-14 22:10] boxtcarpel commented on #284
Hi @kunalbshah the best way to proceed would be to open a developer support ticket (https://docs.box.com/page/support) and reference this ticket so we can help you directly.

At first glace, the steps you're description do not appear to the expected behavior to me, but we probably need more details to make sure we're fully understanding what you are describing here.

[2016-12-15 19:46] DeArchiTech commented on #283
@crousselle  Thank you, that resolves the issue :)

[2016-12-15 19:46] #283 closed, assigned to nobody

[2016-12-16 19:25] DeArchiTech opened #285 "Pod Install gives "NoMethodError - undefined method `files' for #""
Hello there

I am trying to add the SDK to an existing project.
I realized that whenever I tried to do pod install, cocoapods is giving me a no method error, I tried many different solutions and still no luck :( Help would be appreciated!

[code]
/Users/Davix/.rbenv/versions/2.0.0-p353/bin/pod install
[code]
   CocoaPods : 1.2.0.beta.1
        Ruby : ruby 2.0.0p353 (2013-11-22 revision 43784) [x86

[2016-12-19 18:35] crousselle commented on #285
Hi @noobiehacker !
Thank you for using our SDK and reporting issues, it's the only way to make it super easy to use for all developpers.
I'll investigate this issue and come back to you but from what I gather with your description, it looks like it is a cocoapods issue and not related to our pod. Have you tried to setup this project with a different pod by any chance ?

[2016-12-19 20:34] DeArchiTech commented on #285
Hey @crousselle

With further investigations, I guess you are correct.  I asked on the Cocoapod github page and we found a work around for it, so I guess we are good for now.

https://github.com/CocoaPods/CocoaPods/issues/6320

Thank you and I will close this issue for now

David

[2016-12-19 20:34] #285 closed, assigned to nobody

[2017-01-02 16:07] ghost opened #292 "Crash updating from v2 when keychain credentials not found"
We have an app that used the old, deprecated iOS SDK, which was updated to the new one. After the update, the app has a record of the Box account, but Box appears to track this itself in a keychain item, which it doesn't find. This leads to an exception during the first box operation:

[code]

I didn't find anything in the documentation addressing migrating from the old SDK to the new one, so it's

[2017-01-03 15:00] crousselle commented on #292
Hello @LnxPrgr3,

Thanks for being a long time SDK user !
Your feedback is super valuable as it will allow us to make the SDK easier to us for other developers.
We'll look into this issue and will get back to you as soon as we figured out what's happening there.

In the meantime, from what I see, this does not appear to be a keychain issue. After taking a look where the crash takes place in BOXAbs

[2017-01-06 20:14] Roshanalexander opened #294 "Pod install on BoxContentSDKSampleApp doesn't work"
When doing pod install on the sample app, the following error is obtained.

Analyzing dependencies
Fetching podspec for `box-ios-sdk` from `../`
[!] Unable to satisfy the following requirements:

- `box-ios-sdk (from `../`)` required by `Podfile`
- `box-ios-sdk` required by `Podfile.lock`

Specs satisfying the `box-ios-sdk (from `../`), box-ios-sdk` dependency were found, but they required a highe

[2017-01-06 23:56] boxtcarpel commented on #294
@Roshanalexander thank you for using the SDK and for reaching out. Please try again with the latest change, and feel free to close this issue if it works correctly now.

[2017-01-09 17:32] Roshanalexander commented on #294
It seems to be fixed. Thanks!

[2017-01-09 17:32] #294 closed, assigned to boxtcarpel

[2017-01-10 21:57] ed-mejia opened #297 "fetchAccessTokenWithCompletion loop"
Hi there!,

I'm trying to authenticate using access token fetched from my backend, using the following:

`- (void)fetchAccessTokenWithCompletion:(void (^)(NSString *, NSDate *, NSError *))completion`

Everything goes ok if I'm able to get the token but if for some reason I get an error, connection issues or anything then I will try to call the completion block with error something like:

`completi

[2017-01-10 22:28] crousselle commented on #297
Hi @ed-mejia,

Thanks you for using our SDK and Box Developer Edition !

Could you provide more information about that loop you're witnessing, such as call stacks of the methods that are called continuously ?

It'd be great if you could provide some sample code of your implementation as well, that would help us identify and track down the issue.

Thank you,

Clement

[2017-01-10 23:02] ed-mejia commented on #297
Hi yes, I'm using the **BoxBrowseSDKSampleApp** you can just run the sample app with this view controller instead of the one attached in the sample.
[ViewController.m.zip](https://github.com/box/box-ios-sdk/files/697616/ViewController.m.zip)

[2017-01-10 23:30] ed-mejia commented on #297
Hi @crousselle,

Were you able to recreate the issue?, let me know if you need more information.

[2017-01-10 23:51] crousselle commented on #297
@ed-mejia thanks for the sample code. I'll come back to you as soon as I can reproduce.
Thanks !

[2017-01-11 18:30] crousselle commented on #297
@ed-mejia thanks for the sample code, I was able to reproduce the issue ! Be on the lookout for a fix soon !

[2017-01-11 21:56] ed-mejia commented on #297
@crousselle Great!, looking forward for it 👍

[2017-01-11 23:38] crousselle commented on #297
@ed-mejia if you get the latest tag of our BrowseSDK (v1.7.0) (https://github.com/box/box-ios-browse-sdk), this issue should now be fixed.
Thanks for your feedback, feel free to close this issue once verified it is not occurring anymore.

have a great day !
Clement

[2017-01-11 23:38] DeArchiTech opened #298 "Persisting the login step for Box user"
Hello everyone, this is a general question not too sure if this is the right place to post it.

I was wondering is there a way to persist user credentials so users do not have to log in every-time the user wants to upload information to BOX?

Also does anyone know how long does the Authorization Token remains valid?  (How long does it take for it to be expired?)

Cheers, will be waiting for your r

[2017-01-12 00:06] crousselle commented on #298
Hi @noobiehacker,

Thank you for using our SDK and reaching out.

The SDK actually already takes care of all the credentials persistence logic, which means that you should not have to write any code to keep your users logged in onto Box, we've already taken care of that for you :)
If you are seeing issues around this feature while integrating our SDK into your app, please let us know !

We store a

[2017-01-12 00:12] DeArchiTech commented on #298
Hey Clement

Thank you very much for the response, whats the difference between the access token and refresh token??  Does the User need to "re-login" if the access token gets expired ? (Lets say after one hr?)

Cheers, have a good one

David

[2017-01-12 00:29] crousselle commented on #298
No problem !

The access token is used to authenticate API calls.
The refresh token is used to obtain a new access token after it expires. (That way the user does not get logged out every hour).

Box uses standard OAuth2 authentication in our APIs (and SDKs), you can read more about it here https://docs.box.com/docs/oauth-20.

As we mentioned before, this logic is abstracted by our SDK and you sho

[2017-01-12 00:45] DeArchiTech commented on #298
Thanks Clement, really appreciate your help!~

[2017-01-12 00:45] #298 closed, assigned to nobody

[2017-01-12 02:15] ed-mejia commented on #297
@crousselle AWESOME! Thanks!.

I Can confirm it's working pretty good.

However I was unable to fetch the last tag when installing via cocoapods, doing a fresh install will fetch 1.0.6 instead of 1.0.7 .. tried to update my cocopod repo but the result was the same, I had to point the pod to master in order to be able to get the latest version.

[2017-01-12 02:15] #297 closed, assigned to nobody

[2017-01-17 22:39] DeArchiTech opened #299 "What to put for Scope when calling metadataTemplateInfoRequestWithScope ?"
Hello there

I have look through the documentation but I wasn't able to find the info I want.
Specifically, I would like to call this function.

BOXMetadataTemplateRequest *metadataTemplateRequest = [contentClient metadataTemplateInfoRequestWithScope:@"your_scope" template:@"your_template"];

However, I do not know what to put for "your_scope", and I couldn't find any documentations.
If anyone kno

[2017-01-17 22:42] crousselle commented on #299
Hi @noobiehacker,

Thanks for reaching out !

You'll find any documentation about our Metadata APIs here : https://docs.box.com/reference#metadata-object

Thanks,
Clément

[2017-01-18 00:59] DeArchiTech commented on #299
Thank you @crousselle , you are very helpful :)

[2017-01-18 00:59] #299 closed, assigned to nobody

[2017-01-19 19:17] DeArchiTech opened #301 ""parent of node to add does not exist" when trying to update metadata"
Hey All

I am trying to update the metadata of a file

This is the error I am getting

**_"parent of node to add does not exist"_**

This is my code

[code]

--EDIT

**How I create the MetaData On File**

[code]

Scheme
<img width="1552" alt="screen shot 2017-01-23 at 11 16 21 am" src="https://cloud.githubusercontent.com/assets/3968317/22218954/cf4030b6-e15d-11e6-913b-7f4bbfd06dbe.png">

<img widt

[2017-01-20 19:58] crousselle commented on #301
Hi @noobiehacker,

Glad to see you using our Metadata API !
From the sample code & error that you provided, it seems that you're trying to add a value to a non-existent node.
Could you provide more information about your metadata scheme and other places in your code where you call our metadata API ?

Thanks,
Clément

[2017-01-23 19:21] DeArchiTech commented on #301
Hey @crousselle

Thanks for support, I have added more information let me know if you have any other suggested solutions.

David

[2017-01-23 20:16] crousselle commented on #301
Hi @noobiehacker,

After taking a closer look, it looks like the path you're providing (`/checked/`) is incorrect.
According to our API documentation for the endpoint you're using (https://docs.box.com/reference#update-metadata), the API uses a JSON pointer to identify the key to be updated.

After testing your value (http://www.jsonpointer.com/#/?json=%7B%22checked%22%3A%20%22true%22%7D%0A&pointe

[2017-01-23 22:21] DeArchiTech commented on #301
Hey @crousselle

Thank you for helping out, and you are indeed correct that I have the path wrong.

On a side note, if we set the operations as BOXMetadataUpdateReplace, it won't work if there is nothing to be replace, so we must use BOXMetadataUpdateADD

I will mark this as resolved!

Thanks @crousselle

[2017-01-23 22:21] #301 closed, assigned to nobody

[2017-01-24 01:55] AdamFortLCG opened #305 "BOX SDK - JWT / App User - Hangs on authentication"
I have an issue that keeps propping up on a iOS app that I inherited. It is using the token from the backed API and passing it back to the app. Checking the token in a test app they are valid.

When the token is passed back through the completion method in the _fetchAccessTokenWithCompletion_ method the SDK appears to accept the token and send a request to /2.0/users/me; however, that API call nev

[2017-01-24 01:57] AdamFortLCG commented on #305
Reference:
https://community.box.com/t5/Developer-Forum/IOS-SDK-App-User-Login-Issue/m-p/28746#M1478

[2017-01-25 21:54] boxtcarpel commented on #292
@LnxPrgr3 please reopen this issue if you need further assistance.

[2017-01-25 21:54] #292 closed, assigned to nobody

[2017-01-25 21:55] #284 closed, assigned to nobody

[2017-01-25 21:59] boxtcarpel commented on #208
@adc-jhuang thanks for integrating with Box and considering our SDKs.

This SDK is not really designed to support the scenario you're describing, however we do make it as safe as possible to use the SDK in your iOS app with Keychain integration. You should consider using the SDK directly for authentication.

[2017-01-25 21:59] #208 closed, assigned to nobody

[2017-01-25 22:00] #282 closed, assigned to nobody

[2017-01-26 22:21] crousselle commented on #305
Hi @AdamFortLCG,

Thanks for your feedback !
We tried to reproduce your issue by using our Sample Application with App Users, but our calls to /users/me always successfully got a response.
I've reached out to the team that is responsible for the problematic endpoint, and we will update this thread as soon as we have more information about this issue.

Thanks for using our SDK !

Clément

[2017-01-27 16:23] piercifani opened #310 "Enums in Swift"
Using `typedef enum` to define enum is not correctly translated to Swift by the compiler. You should use the `NS_ENUM` macro for this.

[2017-01-28 03:15] Roshanalexander opened #312 "Issue with using Box SDK on Cocoapods while Gogle Analytics is included in the same pod file"
Until few days ago, everything worked fine on my Xcode project where I had both 'box-ios-sdk' and 'Google/Analytics' on my pod file. But today after doing 'pod update', if 'box-ios-sdk' is on my pod file along with 'Google/Analytics', compiling the project would give me a link error. Taking out 'box-iso-sdk' would solve the issue. The error is:

duplicate symbol _GSDK_NSClassFromString in:
    /Us

[2017-01-30 18:21] boxtcarpel commented on #312
Hi @Roshanalexander, thank you for using our SDK and for reaching out. The errors you included seem to indicate you have a duplicate symbols issue between FirebaseCore.framework and GoogleSymbolUtilities.framework, you might need to check Google's documentation or reach out to their support to see how to resolve that.
I did looks this up quickly and found this stack overflow post on a similar issu

[2017-02-01 16:39] Roshanalexander commented on #312
Thanks for the reply. I managed to fix this issue by changing from pod 'Google/Analytics' to pod 'GoogleAnalytics' which is a different pod for Google Analytics.

[2017-02-01 17:39] boxtcarpel commented on #312
Glad to hear it. Let us know if there are any other issues, and good luck!

[2017-02-01 17:39] #312 closed, assigned to nobody

[2017-02-06 22:05] steipete opened #315 "dispatch_once_t cannot be an instance variable"
BOXAPIMultipartToJSONOperation.m uses dispatch_once_t as an instance variable which does not work.

https://github.com/box/box-ios-sdk/blob/master/BoxContentSDK/BoxContentSDK/Operations/BOXAPIMultipartToJSONOperation.m#L368

This StackOverflow question is a surprisingly good an thorough analysis why this doesn't work:
http://stackoverflow.com/questions/13856037/can-i-declare-dispatch-once-t-predic

[2017-02-06 22:10] boxtcarpel commented on #315
Thanks, @steipete! Nice catch.

[2017-02-07 02:20] #315 closed, assigned to nobody

[2017-02-15 01:12] Roshanalexander opened #324 "Image assets on the sample app"
I'm implementing BOX SDK on my personal app and I'm currently using folder place holder images present in the BOX SDK sample app.

Is it allowed to use the thumbnail images in the sample app on our personal apps?  Is it copyrighted? Will there be any legal issues if I use the assets on personal apps for implementing BOX SDK?

[2017-02-15 01:23] boxtcarpel commented on #324
You may use the thumbnail images provided in your personal app.
More specifically you can see the assets we expose in our Browse SDK (https://github.com/box/box-ios-browse-sdk/tree/master/BoxBrowseSDK/BoxBrowseSDKResources/Icons), which provides UI from Box to be used in your apps. You are free to use those, they are open-source. :)

Good luck!

[2017-02-15 01:23] #324 closed, assigned to nobody

[2017-02-15 01:25] Roshanalexander commented on #324
Thanks for the info! 👍

[2017-02-22 21:18] #310 closed, assigned to nobody

[2017-02-22 21:20] #162 closed, assigned to RicoYao

[2017-03-26 06:43] sugampandey opened #366 "Retrieve Access Token"
Using the SDK, is there a way to retrieve the access_token and refresh_token once user has been authenticated?

We basically want to achieve the following:
1. Have user authenticate their Box account on the iPhone using the SDK
2. Retrieve the access token from (1) and pass it to our server side so that the server side can directly scan some documents from the Box account.

[2017-06-21 09:02] constantine-fry opened #415 "Umbrella header doesn't match the framework name."
The framework can't be build on a machine with a case-sensitive file system, because the umbrella header `BOXContentSDK.h` doesn't match the framework name `BoxContentSDK`.

![screen shot 2017-06-21 at 10 59 32 am](https://user-images.githubusercontent.com/239692/27375911-d88de7ac-5670-11e7-9891-bd5fc0b1933e.png)
<img width="600" alt="screen_shot_2017-06-21_at_10_58_18" src="https://user-images.gi

[2017-08-16 09:55] FlorinSVN opened #428 "Swift compatibility"
Hello is this sdk compatible with swift I have a hard time integrating it.
Do you have a swift sample project ?

[2017-08-18 04:19] jdizoglio commented on #428
Here is an overview for swift usage, let me know where else I can help.

To add the Content SDK to your app,

_(Overview of Carthage usage and adding frameworks to your project.  For more detail https://github.com/Carthage/Carthage)_
1) Create a Cartfile in the folder containing your apps project and add the following entry and save:
github "box/box-ios-sdk"

2) Run carthage:

Once this completes,

[2017-08-28 03:27] hotechboy66 opened #434 "How to retrieve access token in iOS native app:"
How to retrieve access token in iOS native app:

- (void)fetchAccessTokenWithCompletion:(void (^)(NSString *, NSDate *, NSError *))completion
{
#warning Include logic to retrieve access token with the Developer's Edition (App Users) or use Developer Token found at https://developers.box.com/
    completion(@"your_access_token", [NSDate dateWithTimeIntervalSinceNow:1000], nil);
}

Is there a ios SD

[2017-09-01 13:05] bhaveshbc opened #439 "Unabel to Download File"
I have Succesfully integrate Box Sdk and it working fine before.now it give me follwing errror (Error Domain=NSURLErrorDomain Code=-1202.FYI it also work fine in simulator but it not working in real device.please assist.
Thank you.

[2017-09-26 23:43] boxtcarpel commented on #366
Hi @sugampandey, thanks for reaching out and for using our SDKs and APIs.

Sorry for the delayed response.

Yes, the access token can be retrieved from the SDK, however I don't think the pattern you're highlighting here is a way we'd recommend using our platform.
If you're building an in-house app to use with your company's Box implementation, this should be fine as long as it fulfills your needs.

[2017-09-26 23:43] #366 closed, assigned to nobody

[2017-09-26 23:49] boxtcarpel commented on #434
@hotechboy66 thanks for reaching out and for using our SDK!

I believe the documentation you're looking for has moved to: https://developer.box.com/docs/app-users (and https://developer.box.com/docs/service-account)
Thanks for calling this out!

Please let us know if you have further questions. Good luck!

[2017-10-11 10:03] Bharath2r opened #457 "how to authenticate user in swift 3"

[2017-10-11 13:41] Bharath2r opened #458 "I Authenticate but error 20003?"
let contentClient = BOXContentClient.default()
        contentClient?.authenticate(completionBlock: {(_ user: BOXUser,_ error: Error?) -> Void in
       } as! (BOXUser?, Error?) -> Void)

[2017-10-21 14:40] feodormak opened #462 "Multiple Complier Warnings on Pointers"
Tried to import the API via Carthage and compiled with 30+ warning, of the following issues,
- Pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified)
- Insert '_Nullable' if the pointer may be null
- Insert '_Nonnull' if the pointer should never be null

Some of the locations the warnings are found are,
- BoxContentSDK.framework/Headers/BOXContentClient+Folder.

[2017-10-21 17:01] #462 closed, assigned to nobody

[2017-10-25 10:54] Mudasir441 opened #464 "Asks for login every time i run the app."
I have integrated Box in my iOS app. Whenever i run the app and click on box, it takes me to the login screen. It does not save credentials.

[2017-10-25 12:53] #464 closed, assigned to nobody

[2017-10-25 18:10] boxtcarpel commented on #458
Hi @Bharath2r, thank you for using the SDK. Are you still having issues?

You can reference the 'Quick Start' section of the readme on https://github.com/box/box-ios-sdk, don't forget step 5: [BOXContentClient setClientID:@"your-client-id" clientSecret:@"your-client-secret"];
There are additional details in the various linked sections from that page as well.

If you have any additional questions p

[2017-10-25 18:10] boxtcarpel commented on #457
https://github.com/box/box-ios-sdk/issues/458

[2017-10-25 18:10] #457 closed, assigned to nobody

[2017-10-30 15:34] abdallaMunzer commented on #458
@boxtcarpel as per this issue, could you please check this question?

https://stackoverflow.com/questions/47018926/why-box-always-returns-20003-boxsdk-error-at-the-first-login

[2017-12-01 08:58] tanmayGIT commented on #222
i still have the same issue; I have tried re-installing through Pods but no help
This following warning is appearing and button to upload is not working ..

`[Warning] Attempting to load the view of a view controller while it is deallocating is not allowed and may result in undefined behavior (<BOXAuthorizationViewController:  0x7ffb00c9f3c0>)`

[2017-12-01 09:10] tanmayGIT opened #474 "Attempting to load the view of a view controller while it is deallocating is not allowed"
Before the Box uploading option in my app was working perfectly but when I again tried to use it after 2-3 months, I find there is some issue
I have tried re-installing the API through Pods but no help
This following warning is appearing and button to upload is not working ..

`[Warning] Attempting to load the view of a view controller while it is deallocating is not allowed and may result in unde

[2017-12-18 22:31] Prithvijutur commented on #474
@tanmayGIT We no longer distribute the SDK via cocoapods. Its likely you have an out of date Pod. Please look at the readme for the latest instructions using Carthage

[2017-12-18 22:49] Prithvijutur commented on #439
Are you still seeing this? The NSURLErrorDomain code is pointing to an issue with the SSL cert https://developer.apple.com/documentation/foundation/1508628-url_loading_system_error_codes/nsurlerrorservercertificateuntrusted.

[2017-12-20 17:45] aronnelson opened #476 "Cannot retrieve modification date from BOXFile/BOXItem"
I call folderItemsRequestWithID, for every entry I receive, BOXFile is non null, BOXItem has sequenceID, BOXItem has name, etag but modification date, creation date etc.. are nil. Any ideas on this?

[2017-12-20 18:13] aronnelson commented on #476
Set  folderItemsRequest.requestAllItemFields = true;

[2017-12-20 18:13] #476 closed, assigned to nobody

[2018-01-17 17:26] bkottcamp opened #480 "Podspec not using 1.0.15 (last CocoaPods release)"
The box-ios-sdk pod spec (box-ios-sdk.podspec.json) at https://cocoapods.org/pods/box-ios-sdk is pointing to version 1.0.14

Please update it to use version 1.0.15

[2018-01-17 21:19] jdizoglio commented on #480
@bkottcamp We recommend migrating to the latest v1.1.1. Switching to Carthage should be straight forward. We currently don't have support to complete updates for the spec and project to support cocoapods.

[2018-01-25 22:29] ashokds opened #482 "Confusion regarding box-ios-sdk-v2 vs box-ios-sdk"
I am in process of integrating Box-ios-sdk with cocoapods. There are two pods to consider:

- https://cocoapods.org/pods/box-ios-sdk-v2
   Unofficial/Maintained by Unclaimed, last update Dec-2014
   Points to broken github v2 repo: https://github.com/box/box-ios-sdk-v2
- https://cocoapods.org/pods/box-ios-sdk (Maintained by Tom Carpel, Box Inc., last update sept 2016)

Is `box-ios-sdk` the most re

[2018-01-25 22:30] ashokds commented on #482
I am planning to use v1.1.1
https://github.com/box/box-ios-sdk/tree/v1.1.1

[2018-01-26 08:44] hotechboy66 opened #483 "authentication response 403 error"
hi ,we have a token to authenticate ,but response 403 error, may I know why?
And from website , they have a process to preview a box file with params: token and fileID ,but I didn't found a way to do that in iOS SDK. We have to authenticate firstly then preview a file . Is there another way to preview a file with a token&fileID in iOS SDK ? thx.

[2018-01-26 08:47] hotechboy66 commented on #483
plus :  we have problem 403 error for some type of box files :
fileID: 249335838836 .
token (for preview) : 1!ySfhlDJzfwfygl2QFh05KSF-8ikv9B6icERU_tA9dZorCZv5UCjSDkEd0yKVblXlsoHX9mGDDOcVQB7vVe8oqh4XYn8Dzgr7iYf3z6ZezoylfRtDMttZ7YAE60ZBKWryEOAWHWnU4UY8msV1nrU5sP7uzjiNE_CilAKwDBy83peuwJ67EEG7upjbdzv2wxEXYL1lDwSrABsOchn83Yyxwm4F1NI4nCYduPPjkruZJeuJkMfeL7NyDyO1jxKP2gs8A983QaixffbgUSr3wp1QRmEIMCZ8f_8Tcj

[2018-01-26 21:03] jdizoglio commented on #482
@ashokds We have a readme for authentication: https://github.com/box/box-ios-sdk/blob/master/doc/Authentication.md

BoxItemPicker* class are now part of the browse SDK. https://github.com/jdizoglio/box-ios-browse-sdk

[2018-01-26 21:15] jdizoglio commented on #483
Hi @hotechboy66, our Content SDK allows you to use Box. It gives you functionality like file information, download, upload, delete, comment.... To preview a file you will need to also include the Preview SDK (https://github.com/box/box-ios-preview-sdk). The alternative would be to download the file and create you own file viewer.

[2018-01-26 21:16] #428 closed, assigned to nobody

[2018-01-26 21:16] #305 closed, assigned to nobody

[2018-01-26 21:17] #415 closed, assigned to nobody

[2018-01-26 21:17] #434 closed, assigned to nobody

[2018-01-26 21:17] #480 closed, assigned to nobody

[2018-01-26 21:17] #458 closed, assigned to nobody

[2018-01-27 20:53] rajeevku02 opened #484 "Huge number of compiler warning"
I am using this sdk using carthage in an objective-c project. I am getting huge instances of a single compiler warning.  For example:

BoxContentClient+Folder.h

    - (BOXFolderRequest *)folderInfoRequestWithID:(NSString *)folderID;
    Pointer is missing a nullability type specifier (_Nonnull, _Nullable, or _Null_unspecified)

Xcode Version: 9.2 (9C40b)

[2018-01-29 21:39] ashokds commented on #482
Hi @jdizoglio ,

I'm migrating the code step by step, referring to docs as needed. Looking at other samples/repos as needed: https://github.com/box?utf8=%E2%9C%93&q=box-ios&type=&language=

BoxItemPicker* classes aren't part of following BoxBrowseSDK source tree (searched various releases/versions):
https://github.com/jdizoglio/box-ios-browse-sdk/tree/v1.0.0/BoxBrowseSDK/BoxBrowseSDK
Must be renam

[2018-01-30 00:50] jdizoglio commented on #482
@ashokds What version of the box-ios-sdk are you upgrading from?

[2018-01-30 22:47] ashokds opened #486 "BOXAuthorizationVC initWithSDKClient CompletionBlock not getting invoked"
Hi @boxtcarpel, @jdizoglio and team.

I am replacing an old box framework with newer frameworks.
[code]

I followed the guides, and could use your help to resolve 2 issues I have.
Following is the init call; where I set the client-id, secret and redirect_uri. Later setting the accessToken from keychain.

[code]

Later, a custom login viewcontroller is required for box authentication. When inspecti

[2018-01-30 23:45] ashokds commented on #486
MyApp need to authenticate users with box account (normal & SSO), allow them to view & download files.

`redirect_uri_mismatch` error. This seems to be expected behavior as clientid is (null) in uri.

[code]
<img width="505" alt="invalid-client-null-clientid" src="https://user-images.githubusercontent.com/17131511/35596254-1a8489a6-05ce-11e8-9f27-9fac3f9f8073.png">

[2018-01-30 23:51] ashokds commented on #486
Upon "Grant access to Box", output in console:

[code]

[2018-01-31 01:23] jlawton commented on #486
Are you instantiating `[BOXContentClient defaultClient]` (somewhere else in the code) before calling `[BOXContentClient setClientID:MY_BOX_LOGIN_KEYCHAIN_CLIENT_ID clientSecret:MY_BOX_LOGIN_KEYCHAIN_CLIENT_SECRET redirectURIString:MY_BOX_LOGIN_REDIRECT_URI]`? I would expect that to cause the (null) issue.

[2018-01-31 01:38] ashokds commented on #486
@jlawton :

I didn't explicitly instantiate `[BOXContentClient defaultClient]`. Shouldn't following instantiate a client if there is no defaultClient.

[code]

Should I use `+ (BOXContentClient *)clientForNewSession;`?
Thanks,

[2018-01-31 02:09] ashokds commented on #486
hi @jlawton

I used a local var after the `setClientID` call, very first time any of BOX api is invoked. And that is  working well so far, doing more tests.

[code]

[2018-02-01 01:03] jlawton commented on #486
Great!

[2018-02-01 01:21] jlawton commented on #484
Thank you for the report. Nullability annotations are a known deficiency for this SDK, that we'd like to fix. Adding them will change compatibility with existing Swift code, so it's good to have a request to help us prioritize this.

[2018-02-02 01:12] ashokds commented on #482
@jdizoglio It's was fork of https://github.com/pushkarsingh/box-ios-sdk-v2 based on http://box.github.io/box-ios-sdk-v2/
Forked ~4 years back.

[2018-02-02 01:13] ashokds commented on #486
Closing this issue. Thanks @jlawton

[2018-02-02 01:13] #486 closed, assigned to nobody

[2018-02-02 16:55] ashokds opened #491 "Missing details in "Deny access to Box" notification."
Denying access to box notification has some missing details `"Error Domain=com.box.contentsdk.errordomain Code=997 \"(null)\""`

Is it ok to use "Code=997" to uniquely identify the "deny action" by user?

Registering for the notification
[code]

Received callback, printing notification in it.
[code]

[2018-02-02 17:35] ashokds commented on #491
Planning to use `BOXContentSDKAPIErrorUserDeniedAccess = 997`

[2018-02-02 17:48] #491 closed, assigned to nobody

[2018-02-06 02:13] wangqiwei66 commented on #483
hi @jdizoglio , I've use both iOS-BOX-SDK and Box-Preview-SDK .
I wonder how can I use a fileID and a preview token to preview a box file ? Should I ask Preview-SDK team for help  ?

[2018-02-27 15:46] bazik123 opened #493 "Disappearing users"
in past few months many of my clients report launching my app after 1-2 days and finding being logged out. all my tests suggest that somehow BOXContentClient.defaultClient is not seeing the (stored?) user info that was there when app was last open.

Are there any cases where this would normally happen?

Do I need to worry about syncing something before closing the app, do the credentials silently

[2018-02-28 00:49] scottliubox commented on #493
Hi @bazik123 ,
Thanks for bringing this issue to our attention. This is a known issue that we've been tracking for a little while. Just want to clarify a few things:

By not seeing user info, you mean BOXContentClient.defaultClient's user property is nil? If so that's the correct behavior after a logout, even if the logout was triggered by mistake.

No, there is nothing that needs to be synced in

[2018-03-01 13:54] bazik123 commented on #493
thanks for responding. to clarify, yes, when the app launches BOXContentClient.defaultClient.user is nil even though all my logout calls are logged and I am not seeing my code logging out in previous sessions.

[2018-04-01 02:05] tyjacobs opened #499 "boxsdk-YOUR_CLIENT_ID_HERE:// boxsdkoauth2redirect not accepted by Apple"
My app uses the required URL Type format:
boxsdk-YOUR_CLIENT_ID_HERE:// boxsdkoauth2redirect

My app works great in testing.  However, when I try to submit to the iTunes Store my app is rejected with the following message.  Is there any workaround for this?

ERROR ITMS-90158: "The following URL schemes found in your app are not in the correct format: [boxsdk-9wc5v3149yuh4d0jdokoyjtmzfbr5v34://boxs

[2018-04-01 15:46] tyjacobs commented on #499
Found my problem.  In XCode when configuring the URL Scheme, we are supposed to leave off the ":// boxsdkoauth2redirect" part.  Problem solved.

[2018-04-01 15:46] #499 closed, assigned to nobody

[2018-04-04 14:27] MattKiazyk opened #502 "Latest master code is not compatible with PreviewSDK 1.1.5"
With the change to `BOXRepresentationImageDimensions` the preview SDK no longer compiles as it still has the old `BOXRepresentationDimensions`

https://github.com/box/box-ios-sdk/commit/871228bdbb0cd1960dff518f2be9cdd7d33979d0#diff-5481edd9dd10647655d7d7c67ca69335R24

Can we please get the PreviewSDK updated with the new name?

Thanks

-Matt

[2018-04-05 22:01] RLEE0731 commented on #502
Hi @MattKiazyk thank you for raising the compatibility issue, we’d advise to use or pull from one of our published releases, as those are verified to be stable. v1.1.3 is now available and should be compatible with PreviewSDK 1.1.5.

[2018-04-05 22:01] #502 closed, assigned to nobody

[2018-04-06 15:42] feodormak opened #504 "Multiple console log warnings about autolayout engine being modified"
While my app is running, each upload or download request creates a warning that goes along the line of,

This application is modifying the autolayout engine from a background thread after the engine was accessed from the main thread. This can lead to engine corruption and weird crashes.
 Stack:(
	0   CoreFoundation                      0x000000010970cd4b __exceptionPreprocess + 171
	1   libobjc.A.

[2018-04-06 16:15] #504 closed, assigned to nobody

[2018-04-12 21:19] thuyBox commented on #493
We fixed an issue where we could trigger early logout at https://github.com/box/box-ios-sdk/pull/503. If you could try out and let us know whether this fixes your issue. Thanks!

[2018-04-13 06:23] bazik123 commented on #493
I am a little confused, have you dropped cocoapods support at some point?

[2018-04-13 06:32] thuyBox commented on #493
yes, v1.0.15 was our last CocoaPods compatible release https://github.com/box/box-ios-sdk/releases/tag/v1.0.15. Carthage is required after that release.

[2018-05-10 08:13] DigitalSolomon commented on #483
Please refer to the Preview SDK (https://github.com/box/box-ios-preview-sdk).

[2018-05-10 08:13] #483 closed, assigned to nobody

[2018-05-19 01:57] australex opened #531 "BOXFileShareRequest : canDownload is always YES in response"
Hey guys,
I use BOX iOS SDK as `pod 'box-ios-sdk' #, :git => 'git@github.com:box/box-ios-sdk.git'`
I have met a problem with BOXFileShareRequest.
Does not matter what value I will set for `request.canDownload` true or false request always return me BOXFile with `canDownload == BOXAPIBooleanYES`.

Codes like these:
[code]
Could you please advise why?

[2018-05-19 02:37] #531 closed, assigned to nobody

[2018-06-06 13:15] erychagov opened #536 "Use of undeclared identifier 'SHA_DIGEST_LENGTH' in BOXHashHelper"
I can't compile a BoxContentSDK using the Xcode 10 beta:
[code]

macOS High Sierra 10.13.4
Version 10.0 beta (10L176w)

[2018-06-07 01:47] #536 closed, assigned to nobody

[2018-06-07 01:49] RLEE0731 commented on #536
@erychagov thanks for report and fixing this issue! Your pull request has been merged!

[2018-06-22 21:06] aronnelson opened #548 "iOS12 cannot find SHA_DIGEST_LENGTH"
Looks like CommonDigest.h is not available in iOS12.

[2018-07-02 05:03] srikanthmca54 commented on #548
I too facing same issue.

[2018-07-03 22:58] rpelorosso opened #550 "Authenticating AppUser"
Hi! I'm trying to authenticate my AppUser in the application to retrieve files and folders from its account. I have created a Custom Application, and I'm using the following Swift code:

[code]

The problem is that the function is doing nothing. It's not executing the block code, and according to Charles proxy it's not even making any request.

How can I authenticate a UserApp? Isn't this the corr

[2018-07-06 00:13] ric0liva commented on #548
We think this was fixed in
https://github.com/box/box-ios-sdk/issues/536
Can you please fetch the latest and retry.
Thanks!

[2018-07-06 00:20] ric0liva commented on #550
Hello.
For the correct way please have a look at
https://github.com/box/box-ios-sdk/blob/master/doc/AppUsers.md
which has some examples on how to authenticate App-user.

A requirement is that the client accessTokenDelegate be set to a class that adopts the BOXAPIAccessTokenDelegate protocol.    Are you setting this prior to calling authenticateAppUser ?

[2018-07-06 14:37] rpelorosso commented on #550
Oh no, I wasn't. Thank you for the link. I'll follow the directives there, port it to Swift and give it a go. Thank you!

[2018-07-06 14:37] #550 closed, assigned to nobody

[2018-07-19 19:05] technicallyerik opened #553 "BOXFileThumbnailRequest support for JPG format"
BOXFileThumbnailRequest doesn't appear to have the option to set the "extension" parameter, and is defaulted to PNG.

I think this should be able to be changed, since different sizes are available for PNG vs JPG, and PNG returns square images, and JPG returns images proportional to the original.

[2018-07-20 19:23] Prithvijutur commented on #553
@technicallyerik That sounds useful to have. You can override the class or make a pull request back to us with a new property that allows the request to use a different subresource. Otherwise, we will add this field in the next release.

Also to note - We are moving to use box representations API
(BOXFileRepresentationDownloadRequest) on the master branch allows you to request thumbnails of differ

[2018-08-14 20:55] #548 closed, assigned to nobody

[2018-08-17 18:38] aronnelson opened #557 "Code signing "BoxContentSDK.framework" failed."
How do I get past this? In Xcode 10 (beta). When I try to submit to app store, I get "Code signing "BoxContentSDK.framework" failed.".

Thanks in advance for any help.

[2018-08-17 20:42] aronnelson commented on #557
Wasted time on this. You need to do this!

USE THIS PAGE FOR IOS:
https://github.com/Carthage/Carthage/blob/5fd867c4895b4f59d70181dec169a1644f4430e3/README.md#if-youre-building-for-ios

The current linked info will not work.

[2018-08-17 20:42] #557 closed, assigned to nobody

[2018-09-06 07:23] suniljakhar opened #562 "Login page not open on first launch"
There seems to be a problem with this app

Error: Invalid client

Show Error Details
responce_type=code
redirectUri= boxsdk-(null)://boxsdkoauth2redirect
state=z0wu.......djr8=
cle=ient_id=(null)

comes when launch app first time ,after killing app it works fine.
My code is in swift and setting client id secret as documented here.

[2018-09-07 23:50] RLEE0731 commented on #562
Hi suniljakhar thanks for letting us know, are you setting the client ID and secret prior to calling the authentication function?

[2018-09-12 06:05] suniljakhar commented on #562
Hi RLEE0731 , Yes we setting the proper client ID and secret prior to calling the authentication function. As i previously mentioned that first time it is not working but after quit and launch things are working as expected.

[2018-09-12 23:56] RLEE0731 commented on #562
Does the same behavior happen when you try running the sample app? Make sure to set the client ID and secret under [application:didFinishLaunchingWithOptions:]

[2018-09-13 09:17] suniljakhar commented on #562
I am getting this error when trying to run the sample app on device **"Provisioning profile "iOS Team Provisioning Profile: *" doesn't support the App Groups capability."**. Also tried on simulator it is working as expected.

[2018-09-14 21:13] RLEE0731 commented on #562
Cool, so it seems somewhere in the code is accessing BOXContentClient before the client ID and secret are set. I would say try adding breakpoints wherever BOXContentClient is being called, and ensure [BOXContentClient setClientID:clientSecret:] is first to be called when you run your app.

[2018-09-20 06:58] ghost opened #564 "SHA_DIGEST_LENGTH Problem with iOS 12"
Hello,

I install the box-is-sdk over cocoapods. It works fine with iOS 11 and under iOS 12 I get this error message in BoxHashHelper.m:

/Users/RWarnecke/repos/XCode/ios/Sprit-Rechner-Plus/Pods/box-ios-sdk/BoxContentSDK/BoxContentSDK/External/HashHelper/BOXHashHelper.m:131:26: Use of undeclared identifier 'SHA_DIGEST_LENGTH'

I found the issue #536, but the merged pull request doesn't assign to t

[2018-09-20 07:23] ajmeerkhan commented on #564
Hello Box Team,
         Found the same problem. Please fix this ASAP.

@RWarnecke thanks for the issue post.

[2018-09-20 21:43] jlawton commented on #564
Thanks for pointing out the issue. I'll review master and see where we can cut a release. We don't maintain the CocoaPods spec, and our official support is for linking via Carthage or manually from releases. I suspect the spec will also need a change to work for you.

[2018-09-21 07:04] ghost commented on #564
Thank you for your response. Why you don't support CocoaPods ? Other frameworks are supported both CocoaPods and Carthage. My mind is that CocoaPods are a easy and smooth way to use frameworks from GitHub.

I hope you find an easy way to fix the problem with the cocoapods

[2018-09-21 07:28] ajmeerkhan commented on #564
Thank you for your response @jlawton , please support CocoaPods also, its easy to use and integrate.

[2018-09-25 12:00] cloakapps commented on #564
I just have the same problem.  Please support CocoaPods too. Thanks.

[2018-09-25 14:17] rpelorosso opened #566 "Get thumbnails for PDF files"
Hi!

When I ask for thumbnails for image files it's working fine, but it looks like PDF files are not supported.  Rather than the correct thumbnail, I'm receiving a PDF icon image. Is there any way to get thumbnails to PDF files, or is it not supported?

thank you!
Rodrigo

[2018-09-25 23:16] jlawton commented on #566
I believe that the older preview APIs didn't support this. I'm working on an update now that will allow you access to the newer representations API. This might require some code changes on your end, but PDF thumbnails are definitely supported through that.

[2018-09-25 23:24] jlawton commented on #482
I know I'm coming into this late. This answer to this is that `box-ios-sdk-v2` was never Box-owned, and `box-ios-sdk` was the way to get the Box SDKs using CocoaPods. We currently aren't maintaining and podspecs for the SDKs, and generally advise people to use Carthage or link the SDK manually (which is a simple drag-and-drop in most cases).

Please open a new issue if you have further questions.

[2018-09-25 23:24] #482 closed, assigned to nobody

[2018-09-26 01:04] rpelorosso commented on #566
Excellent, thank you @jlawton ! I'll pay attention to the new updates, then.

[2018-09-30 09:12] dabeku commented on #564
Having the same issue here. Please support CocoaPods.

Imho a grown up SDK like this one should support multiple packaging frameworks.

[2018-10-05 02:07] utagap commented on #564
#include <CommonCrypto/CommonDigest.h>
->  #include <CommonCrypto/commonDigest.h> in BOXHashHelper.m (XCode10)

Please change the first character of "CommonDigest.h" to lower case.  'C' -> 'c'

It sounds like nonsense, but build is succeeded on my iMac.

[2018-10-05 22:09] BaileyM opened #569 "Downloaded videos have zero duration"
I am using BOXFileDownloadRequest to download mp4 videos, and the downloads succeed, but when I inspect the video duration using AVPlayerItem, the duration is nan.  When I play the videos using AVPlayerLayer, they just display the first frame of the video.

For the download, I create a BOXContentClient.forNewSession(), authenticate using my developer token, create a download request using contentC

[2018-10-07 02:46] jlawton commented on #569
There should be nothing to do. Can you verify that the resulting file on disk has the correct size and maybe also check the SHA1? (You can fond the SHA1 of the uploaded file in the BOXFile object). It sounds to me like a problem with the files themselves.

[2018-10-08 18:22] BaileyM commented on #569
Fixed, it was an unrelated playback issue on my end, sorry for the false alarm.

[2018-10-08 18:22] #569 closed, assigned to nobody

[2018-10-10 15:20] mickael-menu-mantano commented on #415
Was this fix merged into the main repo? I have the same issue, with Carthage and version 2.0.0.

[2018-10-10 15:48] jbarros35 commented on #557
this is only valid for Carthage how do you fix that using CocoaPods?

[2018-10-10 19:16] aronnelson commented on #557
As far as I know you need to give up on CocoaPods. There is no updated version AFAIK. But, you can mix carthage with CocoaPods which is what I did. But please follow the instructions I linked. GOOD LUCK!

[2018-10-16 23:32] ashokds opened #570 "XCode 10 Build Error with BOXHashHelper"
Getting following error in the BOXHashHelper.m with Xcode10.

- `Use of undeclared identifier 'SHA_DIGEST_LENGTH'`

Methods in BOXHashHelper.m resulting in error.
[code]

Integration details:

Using Cocoapods 1.1.1

Following BoxSDK components & respective versions:
[code]

Could be resolved by SDK upgrade. Wondering if this is a known issue.

[2018-10-16 23:34] ashokds commented on #570
Same issue: https://github.com/box/box-ios-sdk/issues/564

[2018-10-16 23:34] #570 closed, assigned to nobody

[2018-10-16 23:35] ashokds commented on #564
Some relevant details on https://github.com/box/box-ios-sdk/issues/570 (Closed it as duplicate).

Please support cocoapods.

[2018-10-17 18:43] utagap commented on #564
XCode header file bug.

Only Apple XCode team can fix this bug.

There exists module.modulemap file in the same header-folder for XCode10.
For XCode9 or the previous version, the module.modulemap file does not exist in the same header-folder.

In the module.modulemap file, 'CommonCrypto.h' is defined, So, 'CommonCrypto.h' is pre-compiled.
Also, 'CommonDigest.h' is defined in 'CommonCrypto.h'. So,

[2018-10-18 03:34] utagap commented on #564
(PS)
There are some ways to fix as follows:

(1) Changes '#include <CommonCrypto/CommonDigest.h>' to '#include <CommonCrypto/commonDigest.h>'.

(2) Adds the following code after '#include <CommonCrypto/CommonDigest.h>'

    #ifndef SHA_DIGEST_LENGTH
    #define SHA_DIGEST_LENGTH CC_SHA1_DIGEST_LENGTH
    #endif

But these ways are temporary ones. I desire BOX team contacts Apple XCode team to reso

[2018-10-18 04:14] utagap commented on #564
I found the solution.

'COMMON_DIGEST_FOR_OPENSSL' is not defined in 'BOXHashHelper.m' as follows.

// #define COMMON_DIGEST_FOR_OPENSSL
#include <CommonCrypto/CommonDigest.h>

And, 'COMMON_DIGEST_FOR_OPENSSL' is defined as Preprocessor Macros in Build Settings instead.

I check. it is OK.

[2018-11-05 18:38] #439 closed, assigned to nobody

[2018-11-08 14:19] smolskyaleksey opened #578 "crash -[BOXAPIAuthenticatedOperation connection:didReceiveResponse:]"
BOXAPIAuthenticatedOperation.m:68

  - box-ios-sdk (1.0.14):
    - box-ios-sdk/logger (= 1.0.14)
    - box-ios-sdk/no-arc (= 1.0.14)
  - box-ios-sdk/logger (1.0.14)
  - box-ios-sdk/no-arc (1.0.14):
    - box-ios-sdk/logger

[code]

[2018-11-08 20:35] jdizoglio commented on #578
@smolskyaleksey Can you update to the latest version of box-ios-sdk, v2.1.0. Also, can you post helpful information on your integration? Are you attempting to swizzle NSURLConnection?

[2018-11-20 12:29] knollyReddy opened #580 "Image not found when BoxPreviewCoreSDK.framework added in to project"
when try to build the project i am getting this error in xcode
dyld: Library not loaded: @rpath/BoxPreviewSDK.framework/BoxPreviewSDK
  Referenced from: /Users/knolly/Library/Developer/CoreSimulator/Devices/6B673B4B-52EE-4620-9F38-4C07EE01FAB3/data/Containers/Bundle/Application/F037083D-3DFB-4266-BCAE-A330DCEA0FF7/BOXDemo.app/BOXDemo
  Reason: image not found

Please thanks

[2018-11-20 19:58] jlawton commented on #580
It looks like you're importing `BoxPreviewSDK` but not embedding it in your app. BoxPreviewCoreSDK is used by BoxPreviewSDK, so you'll want to embed both.

The simplest way to do that is to drag the frameworks into your project's _Linked Frameworks and Libraries_, then add a script phase to run `carthage copy-frameworks`, giving all the frameworks as input files (see
https://github.com/Carthage/Ca

[2018-11-22 09:13] knollyReddy commented on #580
I tried all the ways, I added framework in buildphases and added run script and also added input and output file as per the carthage
i have been added those two frame works in embedded binaries

if possible , please let me know this SDK is available in POD also

[2018-11-26 13:07] Jeevanson commented on #564
I've the same problem. Please provide support for cocoapords too. Thanks

[2018-12-04 06:00] ghost commented on #564
Is there a plan when we get the support for cocoapods ?

[2019-01-09 03:58] wangqiwei66 commented on #580
RootCause found:
1, in code, accessTokenDelegate always returns , not setted:
#pragma mark - access token delegate
- (id<BOXAPIAccessTokenDelegate>)accessTokenDelegate
{
    return self.queueManager.delegate;
}
2, I found that after I set the delegate , client.accessTokenDelegate and queue.delegate always nil:
<img width="925" alt="image" src="https://user-images.githubusercontent.com/23308747/508

[2019-01-09 09:21] wangqiwei66 opened #582 "BOXContentClient.accessTokenDelegate Can not be setted in 2.0.2"
We use appUser to present a box file content, and manage accesstoken for our own.
In elder verison, I use BOXContentClient.default().authenticate() and wait the  callback func:
func fetchAccessToken(completion: ((String?, Date?, Error?) -> Void)!)
In this func, I will return the accessToken and expiredDate to pass the authentication. But  in v2.0.2 , the authenticate() didn't call this fetchAccess

[2019-01-10 02:29] rpelorosso commented on #582
I can confirm, it's not calling fetchAccessToken any more. @wangqiwei66 I went back to 2.0.0 as that
 version is working fine.

[2019-01-10 03:11] wangqiwei66 commented on #582
Exactly. Now I can only rollback to 2.0.0. Pending on BOX team to fix the issue: add a setter for BOXContenClient.accessTokenDelegate var .

[2019-01-10 19:23] jlawton commented on #582
@cburnette Do you have context on this?

[2019-01-14 03:38] wangqiwei66 commented on #582
@cburnette  Any update for this issue?

[2019-01-15 02:18] wangqiwei66 opened #583 "Single User Mode authenticaion always present an error: redirect_url_mismatch."
When I authenticate boxClient, always present a view to show error like this:
<img width="327" alt="image" src="https://user-images.githubusercontent.com/23308747/51154425-b3b6f980-18ae-11e9-9e3f-639f6c255d86.png">
I wonder why?
And following is the code :
<img width="846" alt="image" src="https://user-images.githubusercontent.com/23308747/51154486-dd702080-18ae-11e9-95b6-f213f6844c16.png">

<img

[2019-01-15 02:20] wangqiwei66 commented on #583
Error details:

<img width="277" alt="image" src="https://user-images.githubusercontent.com/23308747/51154559-317b0500-18af-11e9-8d4b-d979c2f6fa8b.png">

[2019-01-16 23:15] Prithvijutur commented on #583
@wangqiwei66 Did you setup a custom redirect uri in developer settings? In that case you might have to use this to intialize [contentClient](https://github.com/box/box-ios-sdk/blob/f815c01b734a903a8e2c3d3dd02ec4bcdfda93e2/BoxContentSDK/BoxContentSDK/Clients/BOXContentClient.h#L176)

[2019-01-17 01:40] wangqiwei66 commented on #583
Maybe I didn't config the redirect url correctly. I intend to use contentCLient , the appUser way . But authentication method never callback.

[2019-01-22 01:49] wangqiwei66 commented on #583
@jdizoglio you updated 2.2.0 for better appUser use. Can you follow this appUser critical ERROR? Appuser CAN NOT use in 2.2.0 !!!!!!

[2019-01-22 10:35] knollyReddy commented on #582
@wangqiwei66
I just want to preview box files in swift ,I have accessToken and boxFileID.
please let me know how to launch the box page in BoxpreviewSDK

Thanks,

[2019-01-22 10:37] knollyReddy commented on #580
@wangqiwei66 can you provide code for how to access the BOX by using accesstoken and file_id

[2019-01-22 23:36] thuyBox commented on #582
You might want to try instantiating a BOXContentClient with:

+ (BOXContentClient *)clientForServerAuthUser:(nonnull ServerAuthUser *)serverAuthUser
                                 initialToken:(nullable NSString *)token
                          fetchTokenBlockInfo:(nullable NSDictionary *)fetchTokenBlockInfo
                              fetchTokenBlock:(nonnull ServerAuthFetchTokenBlock)fetchT

[2019-01-22 23:54] thuyBox commented on #582
You might be interested in https://github.com/box/box-ios-sdk/blob/master/doc/BoxPlatform.md

[2019-01-23 07:31] wangqiwei66 commented on #582
1, If fetchAccessToken callback is deprecated, why I can see the code remains in BoxClient.h?
DO you even think about the version compliance?
<img width="968" alt="image" src="https://user-images.githubusercontent.com/23308747/51590166-fb2f2c80-1f23-11e9-85ae-eb5e821fd4b1.png">

2, How could I initial a serverAuthUser? We don't have a unique id or login string.
<img width="755" alt="image" src="ht

[2019-01-23 23:42] Prithvijutur commented on #474
Closing issue since cocoapods are no longer supported let me know if you still require assistance.

[2019-01-23 23:42] #474 closed, assigned to nobody

[2019-01-23 23:49] Prithvijutur commented on #553
@technicallyerik The latest release uses the [representations API](https://developer.box.com/reference#representations) and the SDK now supports requesting subtypes/dimensions as a parameter here https://github.com/box/box-ios-sdk/blob/master/BoxContentSDK/BoxContentSDK/Requests/BOXFileRepresentationDownloadRequest.m#L32.

[2019-01-23 23:51] Prithvijutur commented on #493
@bazik123 did https://github.com/box/box-ios-sdk/pull/503 fix your issue?

[2019-01-23 23:54] Prithvijutur commented on #564
Unfortunately we have no plan to support cocoapods as of now

[2019-01-24 01:51] jdizoglio commented on #583
@wangqiwei66 Our platform team is currently looking into their code change and should get back to you soon.

[2019-01-24 12:00] bazik123 commented on #493
seems fixed by #503

[2019-01-24 12:00] #493 closed, assigned to nobody

[2019-01-25 20:22] mattwiller commented on #580
@knollyReddy It looks like there are a few other comments here that seem to indicate that this may no longer be an issue for you — are you still having trouble loading the BoxPreviewSDK?

[2019-01-25 21:35] #564 closed, assigned to nobody

[2019-01-29 14:33] ghost commented on #564
All other frameworks has the choice to select cocoa pods or carthage. This is not a good support. All my projects has frameworks with cocoa pods. Only for box I must build this framework with carthage. It is more work to service my apps.

Question:
If the source code here from GitHub the same as I install it over carthage ?

[2019-01-30 00:45] mattwiller commented on #564
@RWarnecke Yes, you should be able to check out a release tag from this repo and build it yourself if you want to.

[2019-01-30 18:19] mattwiller commented on #582
@wangqiwei66 I've just updated https://github.com/box/box-ios-sdk/blob/master/doc/BoxPlatform.md — it should now contain working sample code in both Swift and Objective-C for instantiating a client using Server-to-Server auth.  The unique ID you use can be any value, as long as it uniquely identifies the user you're authorizing.  If you're just doing testing or don't have multiple users, you can u

[2019-01-30 18:20] mattwiller commented on #583
@wangqiwei66 As I mentioned in #582, I've just updated https://github.com/box/box-ios-sdk/blob/master/doc/BoxPlatform.md — it should now contain working sample code in both Swift and Objective-C for instantiating a client using Server-to-Server auth.  If you follow the examples given there, does this problem still occur for you?

[2019-02-11 02:51] wangqiwei66 commented on #582
@mattwiller copy your swift code of let fetchToken. CAN NOT even pass the compile:
<img width="873" alt="image" src="https://user-images.githubusercontent.com/23308747/52544303-f1923980-2dea-11e9-8a8b-af08e787b797.png">

[2019-02-11 03:38] wangqiwei66 commented on #582
@mattwiller  you need add a ? for the completion:
<img width="716" alt="image" src="https://user-images.githubusercontent.com/23308747/52545327-9adc2e00-2df1-11e9-8609-20232b489a31.png">

[2019-02-11 08:35] wangqiwei66 opened #589 "Can't preview a boxFile: DiskCookieStorage changing policy from 2 to 0"
When I use appUser to preview a box file with ios-sdk 2.2.0, box present an error view with "not enough space":
<img width="327" alt="image" src="https://user-images.githubusercontent.com/23308747/52552343-c7f10680-2e1a-11e9-8f7a-6ab8ce2227b7.png">
logging this entering box:
2019-02-11 16:18:26.009156+0800 SGMobile[9806:118304] DiskCookieStorage changing policy from 2 to 0, cookie file: file:///Us

[2019-02-11 23:57] mattwiller commented on #589
@wangqiwei66 This appears to be a duplicate of https://github.com/box/box-ios-preview-sdk/issues/49

Since this looks like an issue with the Preview SDK and not the base Content SDK, I'm going to close this issue — we'll go forward with the linked ticket in the Preview SDK repository.

[2019-02-11 23:57] #589 closed, assigned to nobody

[2019-02-12 01:20] mattwiller commented on #582
@wangqiwei66 We're in the process of cleaning up this interface and making those parameters non-optional, since they will always be passed to the `ServerAuthFetchTokenBlock`.  Because of this, the documentation is slightly ahead of the latest released SDK version.  You're right, you should be able to get around it for now by making these parameters optional.  In the next SDK version, the parameter

[2019-02-14 14:59] ManasaMS85 opened #590 "Get Representation does not work for word and excel"
BOXRepresentationHints API - has only 3 options -
extern const BOXRepresentationHints BOXRepresentationHintsDefaultThumbnails;
/// A good preview for most file types. Maybe more than one preview representation
/// (currently at least the first available of PDF, HLS, MP4, MP3 or JPG)
extern const BOXRepresentationHints BOXRepresentationHintsDefaultPreview;
/// Both thumbnails and the preview define

[2019-02-14 15:01] ManasaMS85 commented on #590
The Previous version of SDK had support for Word and Excel

[2019-02-14 22:07] mattwiller commented on #590
@ManasaMS85 You can pass any arbitrary string of representation hints, and do not need to reply on the defaults provided.  Please see the [Representations API documentation](https://developer.box.com/v2.0/reference/#section-x-rep-hints-header) for more information and examples of how to construct the hints string.

If you want both a high-res image and PDF, something like `"[pdf][png?dimensions=20

[2019-02-15 02:28] jlawton commented on #590
As Matt points out, you can select your representations with a custom string.

The way that representations work, they will only include the formats that Box converts to. If you actually want the original Word or Excel file, representations are not what you want. There's a download API for that.

[2019-02-15 22:46] ManasaMS85 commented on #590
@jlawton  - i do not want the original Word or Excel file representation. All i was telling was -   BOXRepresentationHintsDefaultPreview does not convert word doc and excel files representation to PDF

The enum BOXRepresentationHintsDefaultPreview - does the same, it should represent any PDF, word, excel in the PDF representations - Which is not working

/// A good preview for most file types. May

[2019-02-16 00:01] mattwiller commented on #590
@ManasaMS85 It looks like the PNG representation is causing issues because it's a multi-asset representation (one image per page of the document).  You may need to specify that you want the un-paged version with hints like this: `[pdf][png?dimensions=2048x2048&paged=false]`

[2019-02-16 00:52] jlawton commented on #590
@ManasaMS85 I expect the default preview representations to include PDF. If this is not happening, then this is an API bug. We will attempt to reproduce the problem and forward the bug in that case. I'm glad, at least, that the representations are working individually for you.

[2019-02-16 01:12] ManasaMS85 commented on #590
@jlawton  - Word and Excel was not showing up on the PDF option individually as well. Representation with string "[pdf][png?dimensions=2048x2048&paged=false]"  was not working together because of paged issue as @mattwiller  pointed.

Neither this change helped me to fetch the representation of word and excel - ideally "BOXRepresentationHintsDefaultPreview"  should have fetched it

[2019-02-18 17:39] ManasaMS85 opened #593 "BOXContentClient logout"
is their a specific method to logout  - when using the appuser - instantiating a client using Server-to-Server auth.
i am doing  if let boxContentClientDefault = BOXContentClient.default() {
            boxContentClientDefault.logOut()
       }
     But this doesn't seem to logout the appuser . Is their anything i am missing in logout.

My boxsdk instantiation is :
  boxContentClient = BOXContentC

[2019-02-18 21:22] ManasaMS85 commented on #593
@mattwiller  - Could you help with this issue . I tried boxContentClientDefault.logOut(), tried with the instance.logout and the static method - BOXContentClient.logoutall()

None of them seem to work

[2019-02-18 21:23] ManasaMS85 commented on #590
@jlawton  - Could you check this issue at your end - representation of word and excel?

[2019-02-19 18:11] mattwiller commented on #590
@ManasaMS85 Could you provide us the ID of a Word or Excel file where the PDF representation is not available, so we can look into the issue on our end?

[2019-02-19 19:50] ManasaMS85 commented on #590
file id for an excel : 403122468801

[2019-02-19 19:53] jlawton commented on #590
Matt will follow up, but I did check on some documents I own, and representations works as expected, so it appears not to be a general problem.

[2019-02-19 19:58] mattwiller commented on #590
@ManasaMS85 I'm currently checking with our internal Conversion team to see if there's any issue with how the PDF representation is created for that file.

[2019-02-19 20:14] mattwiller commented on #593
@ManasaMS85 The default client and the client you instantiate are different — calling `.logOut()` on the default client will not log out your client.  If you created the client like `boxContentClient = BOXContentClient(for: authUser, initialToken: nil, fetchTokenBlockInfo: nil, fetchTokenBlock: fetchToken)!`, you'll want to call `boxContentClient.logOut()` instead.  That should revoke the access t

[2019-02-19 20:25] mattwiller commented on #590
@ManasaMS85 Our server logs indicate the a PDF representation was correctly generated for that file on Feb. 15th.  Is this file still not working for you?  If possible, can you make the API request for representations manually and let us know what the response looks like?  You can use a tool like [Postman](https://www.getpostman.com/) or the following `curl` command:

[code]

[2019-02-19 23:46] ManasaMS85 commented on #590
{"type":"file","id":"403122468801","etag":"0","representations":{"entries":[{"representation":"pdf","properties":{},"info":{"url":"https:\/\/api.box.com\/2.0\/internal_files\/403122468801\/versions\/426246046401\/representations\/pdf"},"status":{"state":"success"},"content":{"url_template":"https:\/\/public.boxcloud.com\/api\/2.0\/internal_files\/403122468801\/versions\/426246046401\/representatio

[2019-02-19 23:57] mattwiller commented on #590
@ManasaMS85 What does the code you're using to get the representations using the SDK look like, and what results does that code produce?  It seems like the API side of things is fine, so perhaps this is an issue with how the SDK is making the API request or interpreting the results.

[2019-02-20 00:34] #583 closed, assigned to nobody

[2019-02-20 00:34] #580 closed, assigned to nobody

[2019-02-20 05:23] ManasaMS85 commented on #590
@mattwiller - Below is code which is used to fetch the image rep \ PDF \Word Rep
This code works perfectly fine for image and PDF. But when it comes to word or excel -    fileInfoRequest?.perform(completion: { (file: BOXFile?, error: Error?) in itself does not complete - it exits out immediately and doesnt hit completion block at all. So it doesn't reach till getting representations

CODE:

[2019-02-20 21:24] ManasaMS85 commented on #593
boxContentClient.logOut() also doesnot work - as the connected SDK instance is corrupted . We have sample app which we did for login and logout and we were able to see the sdk instance gets corrected . thats the same reason we have "unable to load image " issue as well.

Steps to reproduce
1. Logout the app
2. login the app
3. Open box preview
4. Logout again - the logout fails

[2019-02-20 22:46] ManasaMS85 commented on #590
@mattwiller - Any response on this code change

[2019-02-21 02:52] mattwiller commented on #590
@ManasaMS85 Using the sample code you provided above, I am not able to reproduce the issue you're describing with a `.docx` file.  The completion handler is correctly called, and I'm able to pass the `BOXFile` to the Preview SDK and view the document.  Are you able to use a tool like [Charles Proxy](https://www.charlesproxy.com/) or [mitmproxy](https://mitmproxy.org/) to record API calls going in

[2019-02-21 02:59] mattwiller commented on #593
@ManasaMS85 I'm able to reproduce the issue as you describe (thank you for the sample app!), and I'm in the process of investigating the issue.  In the meantime, I think it's likely that the issue might be due to your re-use of a single shared `boxContentClient` instance.  Could you try instantiating a new client using `BOXContentClient(for: authUser, initialToken: nil, fetchTokenBlockInfo: nil, f

[2019-02-21 04:10] ManasaMS85 commented on #593
@mattwiller  - For each new login i have been instantiating a new client - But unfortunately the previous logout does not work - this new instantiation does not seem to work perfectly.

When i create a new instance of the client - unable to load image issue is resolved

[2019-02-21 07:41] mattwiller commented on #593
@ManasaMS85 Can you explain a bit more what you mean by "the previous logout does not work"?  In your sample app, it does not appear that you're instantiating a new client at login — the code is re-authenticating the same client instance.

If creating a new instance of the client resolves your issue, is that an acceptable solution to this issue?

[2019-02-21 21:33] ManasaMS85 commented on #590
@mattwiller - As per Varun's suggestion i changed the type to "BOXRepresentationHintsDefaultThumbnails" . and also set the fileRepresentationDownloadRequest representation to largeThumbnailRepresentation() and the preview image fetching worked

[2019-02-21 21:33] #590 closed, assigned to nobody

[2019-02-26 03:56] mdfalcon104 opened #595 "use of undeclared identifier 'SHA_DIGEST_LENGTH'"
Could you revise and fix on podspecs library.

[2019-02-26 04:58] ghost commented on #595
See here is the answer #564. They don't support want to support CocoaPods. I change my projects to Carthage and it was not a lot of work.

[2019-02-26 05:07] mdfalcon104 commented on #595
@RWarnecke I've tried to added a cocoapod by myself but it is not luck. Do you know how to do that?

[2019-05-09 16:23] PreciselyAlyss commented on #578
@smolskyaleksey are you still running into this issue?

[2019-05-09 16:26] PreciselyAlyss commented on #566
@jlawton Was this covered by [PR#565](https://github.com/box/box-ios-sdk/pull/565)? If so, this issue can be closed out.

[2019-05-09 16:28] PreciselyAlyss commented on #553
Please reopen if the latest version of the SDK hasn't resolved this :)

[2019-05-09 16:28] #553 closed, assigned to nobody

[2019-05-09 19:20] smolskyaleksey commented on #578
I did not use sdk anymore, sorry, I don't know.

[2019-05-09 20:24] jlawton commented on #566
Yes. Thumbnail Representations are available for PDFs now.

[2019-05-09 20:24] #566 closed, assigned to nobody

[2019-05-13 15:08] bvirlet opened #606 "Bringing back CocoaPods support"
Hi Box Team,

You made the choice a couple years ago to switch to Carthage only. While I understand why you'd want to simplify this, this has multiple drawbacks.

For us is quite a bummer, we are integrating Box in our apps through an intermediate pod.

Eg. our app(s) -> our private pod -> box-ios-sdk pod.

Unfortunately, we have no way for us to do:

our app(s) -> our private pod -> box-ios-sdk C

[2019-05-14 12:46] ghost commented on #606
Look at this [post](https://github.com/box/box-ios-sdk/issues/564#issuecomment-457012769) there is the answer about cocoa pods. I had changes at all my apps to Carthage for the iOS Box SDK.

[2019-05-15 18:31] mattwiller commented on #606
@bvirlet @RWarnecke This is on our team's roadmap; we're planning to build out support for Cocoapods in the next major version of the SDK.  Since we're focusing our efforts on building out the new version, we're not currently planning to backport Cocoapods support to the current version.  We understand that this is a high-priority feature for many of our users, and we appreciate your patience as w

[2019-05-21 15:05] PreciselyAlyss commented on #578
@smolskyaleksey Please reopen this if you need to in the future 😄

[2019-05-21 15:05] #578 closed, assigned to nobody

[2019-05-21 15:48] PreciselyAlyss commented on #562
@suniljakhar Are you still running into this issue?

[2019-05-21 15:49] PreciselyAlyss commented on #593
@ManasaMS85 Are you still running into this issue?

[2019-05-29 07:36] wangshaoqi opened #610 "can I get the video url which can play directly?"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

Hi team
   I have confusion about playing the video store in BOX. is there a way to get the video streamable URL to play directly? or some suggestions, please. or, it is only supported to paid user?
thanks a lot

[2019-06-03 15:08] bvirlet opened #613 "Add nullability annotations to BoxContentClient.h"
This file is missing nullability annotations. Having them would make the integration of this SDK more robust.
https://github.com/box/box-ios-sdk/blob/c71890c50c6eeb86f33017103efa87fcd56337ed/BoxContentSDK/BoxContentSDK/Clients/BOXContentClient.h#L1

[2019-07-18 14:46] Lreinholz opened #614 "Request Timeout when using folderrequestItems"
- [ x ] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
NSURLConnection finished with error - code -1001
I am using swift and I am trying to make a request to get all folder items in a folder and I am getting this timeout error instead of the folder items. The initial request returns a 200 OK response but

[2019-07-18 16:09] Lreinholz commented on #614
Switching from pods to Carthage resolved this issue

[2019-07-18 16:09] #614 closed, assigned to nobody

[2019-07-30 19:44] cvrattos opened #623 "Authentication Error"
I added the following lines to my as instructed in the github set up tutorial:

[[BOXContentClient defaultClient] authenticateWithCompletionBlock:^(BOXUser *user, NSError *error) {
        if (error == nil) {
            NSLog(@"Logged in user: %@", user.login);
        }
    } cancelBlock:nil];

However, I am unable to run my code because I have an "ARC semantic issue":

No visible @interface for

[2019-07-31 06:59] boxtcarpel commented on #623
@cvrattos the interface is just:
- (void)authenticateWithCompletionBlock:(void (^)(BOXUser *user, NSError *error))completion;

There is no cancel block for this approach. The set up guide is out of date and incorrect. We'll get that updated.

Apologies for the inconvenience. Dropping the cancelBlock: parameter should fix this issue for you!

Thanks for using the SDK

[2019-09-02 15:26] Xcdmau5 opened #647 "Apple Review"
After uploading the App to appstoreconnect,we receive this message:

I checked, that box sdk (BOXAuthorizationViewController) is using UIWebView.
I think the Migrated from UIWebView to WKWebView is needed.

[2019-09-04 06:26] PJSimon commented on #647
Hi @Xcdmau5,

Thanks for reporting this issue.  This appears to only be a warning that Apple will **eventually** stop accepting submissions of apps that reference UIWebView at some point in the future.  We are currently working on an all-new iOS SDK, written in Swift, which shouldn’t have this issue because it won’t use UIWebView.

Now, since Apple only recently deprecated this class in iOS 12, an

[2019-09-04 06:28] #647 closed, assigned to nobody

[2019-10-23 20:32] leandrotha opened #661 "OneLogin authentication redirection problem"
- [X] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
In order to access Box, users under our domain must authenticate through OneLogin. The BOX Login Webview then redirects our users to the OneLogin page to complete authentication. Sometimes, the Box SDK does not recognise that the auth has been completed

[2019-10-31 13:57] SergeiKu opened #669 "UIWebView is deprecated"
- [x] I have checked that the [SDK documentation][sdk-docs] and [API documentation][api-docs] doesn't solve my issue

### Description of the Issue
UIWebView is deprecated but it is used in the framework. So I am getting messages from Apple that impose to switch to WKWebView.

### Versions Used
Box Content SDK: "v2.4.0"
iOS: 13

### Steps to Reproduce
Submit to Appstore the app which uses this fram

[2019-11-21 19:30] brantonb opened #685 "Carthage fails to install box-ios-sdk"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

## What did you do?

Our Carthage dependency manager stopped working in the past 48 hours with no changes in our project. We're using version 2.0.0 of the Box SDK, but I verified this is happening with 3.0.0 as well.

[code]

## What did you exp

[2019-11-21 21:13] brantonb commented on #685
It appears this is caused when tags were modified somehow. There's [an open Carthage issue](https://github.com/Carthage/Carthage/issues/2786) about this, which pointed to [a work-around](https://github.com/ashleymills/Reachability.swift/issues/340):

[code]

After logging into all of our build machines and running this, we are able to build again.

[2019-11-21 23:15] sujaygarlanka commented on #685
Glad it's working now. Thanks for posting the solution!

[2019-11-21 23:15] #685 closed, assigned to nobody

[2019-11-27 07:11] adtechlab03 opened #687 "Detailed Documentation"
Hello sir,

       We want to use this SDK. and I am a beginner level developer. so I need a detailed document on how to use this SDK in my projects. because when I use this SDK and implement the code whichever you provide in the readme file it's not working in my projects it's not finding get current user method.

So I would request to you please provide step by step guide so that I can use this

[2019-11-27 07:39] carycheng commented on #687
Hey @adtechlab03,

Thank you for using the Box SDK. The question you submitted is a bit broad so let’s try to dig a bit deeper. Can you please let us know what exactly you are trying to do? Use case, your code snippet so far, and end goal would all be very helpful.

As for getting started, if you have taken a look at the readme, my next suggestion would be to skim through our developer docs here f

[2019-11-29 07:07] devpetz007 opened #688 "Full Documentation"
Hello Developer,

Can you please provide full documentation with a screenshot so we can easily implement it.

[2019-11-29 18:07] carycheng commented on #688
Hey @devpetz007,

We have full documentation with example usage and description of each endpoint [here](https://github.com/box/box-ios-sdk/tree/master/docs/usage). I would start with the read me [here](https://github.com/box/box-ios-sdk/blob/master/README.md) for set up. Let us know if this solves your question.

Thank you

[2019-12-01 17:33] #688 closed, assigned to nobody

[2019-12-11 12:46] nfz312 opened #689 "Redirect URI between box ios sdk and box Rest Apis"
Hi,
I need to way to set OAuth 2.0 Redirect URI valid for "box ios sdk" and ("box android sdk" or "box Rest Apis" )as my app work on multiple platforms,  that new redirect URL changed to:

As you know that Box not allow to set multiple redirect URIs.

[2019-12-24 15:20] robgtsoftware opened #692 "Missing progress callback for uploads"
* [ ] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

## What did you do?

ℹ Working to migrate from version 2.x to version 3.0

## What did you expect to happen?

ℹ The documentation states that there should me a method to upload a file that has a progress callback:  https://github.com/box/box-ios

[2019-12-24 18:48] PJSimon commented on #692
Hi @robgtsoftware,

Thanks for creating this issue!  Yes, this feature is in-progress and is coming VERY soon!  Things have slowed down this week and next, due to the Christmas and New Years holidays, and we were trying to get this feature in before the holidays.   Unfortunately, it looks like it won't make it until early January.  I hope that works for you.

Stay tuned for those changes, but we'l

[2019-12-24 19:23] robgtsoftware commented on #692
Definitely..that will work perfectly for the work I need do for my next release. Thanks for the update and info.

[2020-01-03 22:17] josejhj2 commented on #564
Does installing with Carthage solve the issue? Or is the only solution to modify the source file  BOXHashHelper.m ?

[2020-01-04 06:37] dabeku commented on #564
@josejhj2 Yes, using Carthage resolves the issue but might introduce another packaging management system if you use pods as well for other libraries.

[2020-01-07 05:57] PJSimon commented on #687
@adtechlab03 I'm closing this issue as it appears resolved, but if you'd like to re-open it, please feel free to do so!  Thanks!

[2020-01-07 05:57] #687 closed, assigned to nobody

[2020-01-11 09:05] robgtsoftware commented on #692
I see that version 3.1 has the progress indicators in it. Thanks for that. I am a bit curious as to the intended use as what I am seeing seems like it is behaving a bit strangely. Below is the process I am using to upload a file.

[code]

The logging output is shown below. It seems a bit strange that the progress jumps from 30% to 95%. It is not shown, but the time between those two steps is about

[2020-01-11 11:56] robgtsoftware opened #697 "Non error logs being flagged as error level"
* [ X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

## What did you do?

Used the SDK to list and upload file

## What did you expect to happen?

Requests to complete and only log errors if they are actually errors

## What happened instead?

Successful request details are logged to the xcode co

[2020-01-14 02:08] jogu commented on #669
This was already mentioned here: https://github.com/box/box-ios-sdk/issues/647

The new box sdk (3.0) authored in Swift does not use UIWebView, but also does not appear to be directly usable in ObjC apps.

The requirement from Apple is for existing apps to stop using UIWebView by December 2020:  https://developer.apple.com/news/?id=12232019b (and for new apps to stop by April 2020, however I would

[2020-01-14 18:50] PJSimon commented on #689
Hi @nfz312,

Sorry for the delay.  My team is still catching up following the holidays!  We'll respond back to you soon!

Thanks!

Tracking: SDK-1252

[2020-01-22 05:58] alzin opened #699 "getTokensFromAuthServer What to put inside this function to retrieve the client and the specified Token JWT????"
* [x] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

I am trying to get the Access Token using OAuth 2.0 with JWT but I couldn’t figure out what to put inside
the following functions:

Exactly I need to know what should **accessToken** and **accessTokenTTLinSeconds** be or how to get them?
https:/

[2020-01-31 16:21] joshsloat opened #702 "macOS support?"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

## What did you do?

I attempted to integrate a macOS app with the Box SDK.

## What did you expect to happen?

I realize that the name of the SDK is `box-ios-sdk`, but `osx` is listed as one of the supported platforms. As such, I expected the S

[2020-01-31 19:49] sujaygarlanka commented on #702
Hello @joshsloat, You are correct in that authentication does not work for platforms other than iOS. If you create a client that takes in a developer token, the SDK should work fine for macOS. We will look into the authentication issue for the other platforms and get back to you soon. Sorry for any confusion.

[2020-02-03 15:31] joshsloat commented on #702
Thanks for the response @sujaygarlanka. With the developer token, though, I can only access my account, correct? It's my understanding that I could never build a Mac app for other Box users with that approach (making the SDK not particularly useful for most use cases on Mac).

[2020-02-03 19:35] sujaygarlanka commented on #702
@joshsloat, you are correct that you will only be able to access your account. It is really only meant for development purposes. We will update our documentation to reflect that we don't support macOS. If you want support for macOS or any additional features in the future, I would submit feedback [here](https://pulse.box.com/forums/909778-help-shape-the-future-of-box).

[2020-02-03 20:29] joshsloat commented on #702
Thanks for the clarification @sujaygarlanka! The link you provided doesn't work for me. Are you suggesting I just submit a new issue for the feature request?

[2020-02-05 22:13] sujaygarlanka commented on #702
@joshsloat Sorry, I just updated the link and it should work now. Also, we are looking into adding macOS support in the near future (SDK-450). It is on our backlog.

[2020-02-06 14:59] joshsloat commented on #702
Wonderful, @sujaygarlanka. I'll be looking forward to it!

[2020-02-13 03:51] #699 closed, assigned to nobody

[2020-02-19 08:50] d6mobile commented on #692
@PJSimon , @robgtsoftware . How to cancel download file boxSDK?
Thanks you!
Duydv

[2020-02-28 01:37] aharrys commented on #692
same issue with above comment
@PJSimon @robgtsoftware , could you give me information how to cancel download file boXSDK?
I cannot to find document to explain cancel activity (upload & download) thank you so much

Regards,
Harry

[2020-02-28 13:20] jiaohaibin commented on #669
Can we know the roadmap of removing UIWebView?

[2020-03-01 09:24] robgtsoftware commented on #692
As far as I can tell there is not a way to cancel a request directly.  Hopefully a feature that can be added.

[2020-03-03 14:40] PJSimon commented on #697
Thanks for the heads up, @robgtsoftware !  We are tracking this bug (SDK-1320) and will respond back once it's fixed.
Please feel free to submit a PR to resolve it, if you'd like to get it fixed sooner!
Thanks!

[2020-03-03 14:48] PJSimon commented on #692
@robgtsoftware It sounds like there might be a bug with updating the progress with uniform frequency.  We'll take a look (SDK-1321) and get back to you when it's been resolved!

@duydv9x & @aharrys this is an enhancement that we have on our backlog (SDK-981).  I don't think it's currently prioritized very high, but due to your comments, I will try to get it bumped up!  ;^)

[2020-03-18 04:22] PJSimon opened #708 "Fix bug where some requests send a `next_marker` query parameter instead of `marker`"
* [X] I've read, understood, and done my best to follow the [*CONTRIBUTING guidelines](https://github.com/box/box-swift-sdk/blob/master/CONTRIBUTING.md).

## What did you do?

This bug is on the [Objective-C Maintenance branch](https://github.com/box/box-ios-sdk/tree/objective-c-maintenance).

It looks like this PR was made, in error: https://github.com/box/box-ios-sdk/pull/385
When requesting Rec

[2020-03-19 14:41] jiaohaibin opened #709 "How to cancel a file download session"
## What did you do?

I use the following code to download a file
client.files.download(fileId: item.id, destinationURL: url, progress: { (progress) in
            progressCallback(Int(progress.completedUnitCount), Int(progress.totalUnitCount))
        }) { (result) in
            switch result {
            case .success(_):
                break
            case .failure(let error):

[2020-03-19 23:47] PJSimon commented on #709
Hi @jiaohaibin!
This is an enhancement that we have on our backlog (SDK-981).  It's not currently prioritized very high, but due to your comments, I will try to get it bumped up! ;^)

[2020-04-20 23:31] PJSimon commented on #709
Hi @jiaohaibin,

I just wanted to update you that this will be coming in the next few weeks!  We'll update here when it's merged.

Thanks for your patience!

PJSimon

[2020-04-27 10:36] robertwijas commented on #709
All requests should handle cancellation. This seems like a **must have** feature for any network API.

[2020-04-28 17:44] sujaygarlanka commented on #692
@robgtsoftware  I am trying to debug this issue, but am not able to replicate. How large is the file? Also, if the file does not have sensitive or personal information, could you attach the file here?

[2020-04-28 18:01] robgtsoftware commented on #692
Thanks for the follow up. I wonder if something changed from when I filed the issue to now, e.g. in the version that was released in the interim. I just checked things and works as desired for me as well. I am sorry I didn't check on this when the newer version was released and sorry for the wasted effort.

[2020-04-28 21:24] sujaygarlanka commented on #692
@robgtsoftware No problem. I am glad it's working now!

[2020-04-28 21:24] #692 closed, assigned to nobody

[2020-04-29 03:16] #697 closed, assigned to nobody

[2020-05-10 09:08] redbug26 commented on #606
Yes. Please.
Cocoapods is still in 1.0.14... And doesn't have the UIWebView fix needed for ITMS-90809

[2020-05-15 17:52] darkForestCat opened #718 "Adopt app written using 2.4.0 to 4.0.0???"
## What did you do?

I was trying to upload a usual update of my app, but I can't do it anymore as 2.4.0 was using UIWebView, so I did an update to 4.0.0(Removing 2.4.0  framework installed with  Carthage and added  4.0.0 using CocoaPods)

## What did you expect to happen?

So I can finally upload my app without issues to  the App Store....

## What happened instead?

I found out that the framewor

[2020-05-15 19:44] PJSimon commented on #718
Hi @darkForestCat,

Sorry for the surprise about the migration of the box-ios-sdk from Objective-C to Swift, with [v3.0.0](https://github.com/box/box-ios-sdk/releases/tag/v3.0.0) in Nov 2019.

Per the repo's [README file](https://github.com/box/box-ios-sdk/blob/master/README.md):

The good news is that the change to WKWebView was recently [committed](https://github.com/box/box-ios-sdk/pull/715) on

[2020-05-15 20:03] darkForestCat commented on #718
Resolved the issue by adding the framework to my project using Carthage like this:
`github "box/box-ios-sdk" "402fdf5"`
@PJSimon Thx for your  support!Hope I could upload the app without any issues to the App Store!

[2020-05-16 13:59] #718 closed, assigned to PJSimon

[2020-05-16 16:48] darkForestCat opened #720 "Code signing "BoxContentSDK.framework" failed."
I am using Carthage and 2.4.0 "402fdf5" version of the framework.

## What did you do?

I was trying to upload my app to the App Store.

## What happened instead?

"Code signing "BoxContentSDK.framework" failed" error appeared:
<img width="747" alt="Screenshot 2020-05-16 at 17 22 49" src="https://user-images.githubusercontent.com/25624923/82124346-c68d5700-979e-11ea-9ef3-3179c002ae66.png">

Log:

[2020-05-17 13:50] PJSimon commented on #720
@darkForestCat I will try to reproduce, tomorrow.  I'll get back to you ASAP.

Are you blocked? It sounds like you were able to upload your app to the app store, at least once. Are you no longer able to do so?

When does the code signing error appear?

[2020-05-17 20:33] darkForestCat commented on #720
@PJSimon adding after copy-frameworks script, from this answer (https://stackoverflow.com/questions/53050451/xcode-10-code-signing-my-appframework-fails-because-of-failure-signing-3rd-pa?answertab=votes#tab-top) resolved the issue, really strange things...

[2020-05-18 17:16] PJSimon commented on #720
@darkForestCat Good news!  Glad to hear you are un-blocked!  And thanks for posting your resolution to potentially help others in the future!  We appreciate the contribution!  :^)

[2020-05-18 17:16] #720 closed, assigned to nobody

[2020-05-18 17:28] PJSimon commented on #709
Hi @jiaohaibin @robertwijas,
This is now available in the [latest version (v4.1.0)](https://github.com/box/box-ios-sdk/releases/tag/v4.1.0) of the iOS SDK!
Thanks!

[2020-05-18 17:28] #709 closed, assigned to nobody

[2020-05-18 17:35] robertwijas commented on #709
@PJSimon thanks for the update!

My comment was more about the lack of cancellation in regular API calls. I'm glad that we can now cancel downloads/uploads, but I still think it should be possible to cancel API calls as well. This should be a separate issue though.

[2020-05-21 21:16] #669 closed, assigned to nobody

[2020-05-21 21:26] sujaygarlanka commented on #610
@wangshaoqi I believe HLS streams for videos are only provided for paid users. You can verify this for yourself by getting the representations for a file shown [here](https://developer.box.com/guides/representations/request-a-representation/). Pass `[hls]` to `x-rep-hints`.

[2020-05-21 21:26] #610 closed, assigned to nobody

[2020-05-22 08:59] jogu commented on #718
@PJSimon

No need at all for compiled binaries - is it possible to publish a new podspec though please, i.e. just add the git sha for the new version to https://cocoapods.org/pods/box-ios-sdk ?

[2020-05-29 22:02] PJSimon commented on #606
Hi @bvirlet and @RWarnecke!  We're closing this Enhancement Issue on the [objective-c-maintenance branch](https://github.com/box/box-ios-sdk/tree/objective-c-maintenance) since CocoaPods is supported on the current version of the SDK (in Swift).

As a reminder, per the [README.md](https://github.com/box/box-ios-sdk/blob/master/README.md):

@redbug26, per your comment, the good news is that the cha

[2020-05-29 22:02] #606 closed, assigned to nobody

[2020-05-29 22:05] PJSimon commented on #484
Hi @rajeevku02 and @jlawton !  We're closing this Enhancement Issue on the [objective-c-maintenance branch](https://github.com/box/box-ios-sdk/tree/objective-c-maintenance) since the Objective-C iOS SDK is now in "maintenance mode."  We won't be able to prioritize this work.

As a reminder, per the [README.md](https://github.com/box/box-ios-sdk/blob/master/README.md):

Thanks, everyone!

@PJSimon

[2020-05-29 22:05] #484 closed, assigned to nobody

[2020-05-29 22:06] PJSimon commented on #252
Hi @objcguy and @thuyBox !  We're closing this Enhancement Issue on the [objective-c-maintenance branch](https://github.com/box/box-ios-sdk/tree/objective-c-maintenance) since the Objective-C iOS SDK is now in "maintenance mode." We won't be able to prioritize this work.

As a reminder, per the [README.md](https://github.com/box/box-ios-sdk/blob/master/README.md):

Thanks, everyone!

@PJSimon

[2020-05-29 22:06] #252 closed, assigned to nobody

[2020-05-29 22:07] PJSimon commented on #235
Hi @boxtcarpel !  We're closing this Enhancement Issue on the [objective-c-maintenance branch](https://github.com/box/box-ios-sdk/tree/objective-c-maintenance) since the Objective-C iOS SDK is now in "maintenance mode." We won't be able to prioritize this work.  This feature is available in the current version of the SDK (in Swift).

As a reminder, per the [README.md](https://github.com/box/box-io

[2020-05-29 22:07] #235 closed, assigned to nobody

[2020-06-17 09:52] alexandr-appslab opened #724 "BoxContentSDK Readme"
Change Quickstart Step 1 from

`github "box/box-ios-sdk"`

to

`github "box/box-ios-sdk" "objective-c-maintenance"`

[2020-06-22 14:50] dabeku opened #725 "Get Box client synchronously"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2020-06-27 04:14] PJSimon commented on #724
Resolved in #726
Thanks for reporting this @alexandr-appslab !

[2020-06-27 04:14] #724 closed, assigned to PJSimon, sujaygarlanka

[2020-06-27 04:20] PJSimon commented on #725
Hi @dabeku,

The Box iOS SDK uses a token store to do exactly what you describe.  Please check out the docs for more info: https://github.com/box/box-ios-sdk/blob/master/docs/usage/authentication.md#token-store

If that doesn't resolve your issue, please re-open this issue and we'll help further.

Thanks!

[2020-06-27 04:20] #725 closed, assigned to PJSimon, sujaygarlanka

[2020-06-30 15:08] stevebingsoo opened #727 "SDK Unable to Process Enterprise Events"
### Description of the Issue
When using the SDK to get enterprise events of type "SHARE", "UPLOAD", and possibly many other types of events, Box returns a http 200 response but the SDK throws a BoxCodingError

### Steps to Reproduce
Use the SDK to call getEnterpriseEvents and specify event type filters such as

`eventTypes: [.shareEnabled, .upload]`

### Expected Behavior
SDK should process all en

[2020-06-30 19:47] robertwijas opened #728 "ASWebAuthenticationSessionErrorCodeCanceledLogin not handled correctly"
### Description of the Issue
After calling `BoxSDK.getOAuth2Client` If user cancels authentication the SDK returns `.invalidOAuthRedirectConfiguration` error.

This is where the info about the actual error is lost:
https://github.com/box/box-ios-sdk/blob/62f730aadccf75907ec304d58b773c2b19552a61/Sources/BoxSDK.swift#L360-L366

This makes it impossible to correctly handle cancellation.

### Steps to

[2020-07-01 18:48] sujaygarlanka commented on #727
@stevebingsoo This is an issue with the SDK. We are looking into pushing a fix for this soon.

[2020-07-01 22:00] sujaygarlanka commented on #728
@robertwijas To clarify, you would like us to return the `error` variable within BoxAPIAuthError so you have more information regarding the cause of the error.

[2020-07-02 05:50] robertwijas commented on #728
@sujaygarlanka yes, that would solve the issue and it would also be consistent with how the SDK wraps errors in other places. Having a correct message (instead of always passing `invalidOAuthRedirectConfiguration`) would be a nice bonus 😃.

[2020-07-02 21:28] sujaygarlanka commented on #728
@robertwijas Going to return the error for now. Not currently changing the error message in order to avoid a breaking change. We will consider it in the future. We will be doing an iOS release soon after this PR is merged.

[2020-07-02 21:28] #728 closed, assigned to PJSimon, sujaygarlanka

[2020-07-07 12:59] stevebingsoo opened #732 "Deserialize Chunk Size in Box Responses"
### Is your feature request related to a problem? Please describe.
Getting enterprise events returns chunk size but is never deserialized

### Describe the solution you'd like
The chunk size should be included in the deserialized response

[2020-07-07 15:37] sujaygarlanka commented on #732
@stevebingsoo Is there a reason you want chunk size as part of the response?

[2020-07-09 06:16] abhishek-bidgely commented on #661
@leandrotha were you able to fix this issue. I am also facing a similar intermittent issue in iOS.

[2020-07-10 14:52] mngrant commented on #732
We're working through a project to iterate over share events searching for a share ID from the admin_logs/enterprise events.

I'm also finding the share ID might not be serialized...or I can't find it.

[2020-07-15 13:58] robertwijas opened #733 "How to disable BoxNetworkAgent logging?"
`BoxNetworkAgent` logs a ton of stuff in `DEBUG`. **Is there a way to disable that?**

`ConsoleLogDestination` loggers are private and I cannot subclass to pass my own implementation because it's not an  _open_ class.

The API would work just fine if `BoxSDKConfiguration.consoleLogDestination` type was changed to `LogDestination` instead of the final `ConsoleLogDestination` class (and `BoxSDK.upda

[2020-07-15 14:29] bawanevaibhavi opened #734 "Getting crash mostly after uploading more than 5 files"
application getting crash after uploading any type of file. We are using Objective-maintenance (https://github.com/box/box-ios-sdk/tree/objective-c-maintenance) branch for development.

Error: Box API Operation Thread (18): EXC_BAD_ACCESS (code=1, address=0x10)

![crash](https://user-images.githubusercontent.com/30460869/87557607-bc6fd200-c6d5-11ea-99f1-281001e64f81.png)

[2020-07-15 21:48] stevebingsoo commented on #727
The fix works great.  thanks!

[2020-07-15 21:48] #727 closed, assigned to PJSimon, sujaygarlanka

[2020-07-16 13:04] bawanevaibhavi commented on #734
![Screenshot 2020-07-16 at 4 15 17 PM](https://user-images.githubusercontent.com/30460869/87673894-dae7d300-c792-11ea-9e41-55ff951c67d1.png)

getting null data in variables

[2020-07-17 15:08] sujaygarlanka commented on #732
@mngrant @stevebingsoo You can currently get the [raw json data](https://github.com/box/box-ios-sdk/blob/master/Sources/Responses/Event.swift#L17) and parse it yourself. We have a ticket to deserialize more of the fields in the `Event` item, but it may be a while before we get to it.

[2020-07-17 15:46] sujaygarlanka commented on #732
Internal Jira Ticket: SDK-1447

[2020-07-17 17:54] sujaygarlanka commented on #733
@robertwijas We have ticket open to address custom logging within the iOS SDK. We are looking to get to it within the next few weeks. Will keep you up to date on any progress made with this. Thanks!

[2020-07-17 17:54] sujaygarlanka commented on #733
Internal Jira Ticket: SDK-744

[2020-07-22 05:20] PJSimon commented on #734
Hi @bawanevaibhavi ,

Unfortunately, since the Obj-C code base is in "maintenance mode" we are only providing critical security updates for it so we can focus our resources on the Swift code base.  I'm going to leave this question open in case some others in the community are able to help.  Sorry about that!  Thanks for understanding.

If you resolve this, please post it here to help others in the

[2020-07-23 07:52] vikrambatra08 commented on #734
Hi @PJSimon ,

I am also facing the same issue in my app after switching it to "Objective c maintenance branch". My app is developed using Objective C language. It would be really appreciated if you could fix this. Or please suggest any alternatives to handle this if you have any.

Thanks!

[2020-08-13 15:19] jpabanil opened #735 "Error when running the code"
Hello,

Got this error when running the code.
Error Domain=com.apple.AuthenticationServices.WebAuthenticationSession Code=2 "Cannot start ASWebAuthenticationSession without providing presentation context. Set presentationContextProvider before calling -start." UserInfo={NSDebugDescription=Cannot start ASWebAuthenticationSession without providing presentation context. Set presentationContextProvide

[2020-08-13 15:23] sujaygarlanka commented on #735
@jpabanil I would take a look at our OAuth2 sample app. It already has OAuth working. I would either use that as a start to your app or copy and paste the OAuth code into your app. https://github.com/box/box-ios-sdk/tree/master/SampleApps/OAuth2SampleApp. If this does not solve your issue, feel free to re-open this.

[2020-08-13 15:31] jpabanil commented on #735
Its not working :(

[2020-08-13 15:56] sujaygarlanka commented on #735
@jpabanil Did you follow the instructions here https://github.com/box/box-ios-sdk#oauth2-sample-app?

[2020-08-13 18:13] #735 closed, assigned to PJSimon, sujaygarlanka

[2020-11-29 18:41] prasad1240 opened #743 "Refresh token is failing with 401 error code."
**Code:-**
`if let oAuthSession:OAuth2Session = self.client.session as? OAuth2Session {
                            oAuthSession.refreshToken { result in
                                        switch result {
                                        case let .success(token):
                                            expect(token).to(equal("new access token"))

[2020-12-01 07:57] prasad1240 opened #744 "Refresh token is failing with 401 error code."
Authentication Method: User Authentication(OAuth 2.0)
SDK:  iOS Box SDK
Version: 4.2.0
Custom Token info: Yes
Xcode: 12.0.1

**Code:-**
`if let oAuthSession:OAuth2Session = self.client.session as? OAuth2Session {
                            oAuthSession.refreshToken { result in
                                        switch result {
                                        case let .success(token):

[2020-12-01 07:58] prasad1240 commented on #743
Created #744 ticket for the same.

[2020-12-01 07:58] #743 closed, assigned to nobody

[2020-12-06 19:39] prasad1240 commented on #744
@sujaygarlanka , @PJSimon
Any update on this please?

[2021-01-03 06:16] ghostlordxdcz01 opened #747 "Install"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-01-03 13:57] #747 closed, assigned to nobody

[2021-02-05 11:49] bawanevaibhavi opened #752 "Getting redirect URI missing error"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2021-02-05 11:49] bawanevaibhavi commented on #752
![Screenshot 2021-02-05 at 5 16 27 PM](https://user-images.githubusercontent.com/30460869/107030217-4d271000-67d6-11eb-8a9d-2e43dad544ea.png)

[2021-02-05 15:47] sujaygarlanka commented on #752
@bawanevaibhavi Did you follow the steps [here](https://github.com/box/box-ios-sdk#oauth2-sample-app)? Also, did you set the url in the developer console?

[2021-02-07 02:25] hironytic opened #754 "Misuse of `callbackURLScheme` argument in iOS Authentication API"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2021-02-17 11:52] bawanevaibhavi commented on #752
I am getting this issue/error in running AppStore application. It was working earlier.

[2021-02-19 13:38] theli opened #758 "OAuth and 2FA not working"
- [+] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [+] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [+] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference). [https://support.box.com/hc/en-us/community/posts/3600512794

[2021-02-19 18:48] PJSimon commented on #758
Hi @theli,

Thanks for submitting this Issue! We will take a look and get back to you ASAP!

@PJSimon

[2021-03-03 10:05] theli commented on #758
Hi @PJSimon,

Could you confirm this is a bug and if there is a plan to fix it? I consider it moderate to high importance because it does not allow to sign in the entire segment of users who have 2FA enabled.

[2021-03-08 08:28] hironytic opened #761 "Callback is not called if token has been revoked"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2021-03-21 05:45] dabeku opened #764 "Custom callbackURL in BoxSDK not working"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2021-03-31 08:02] jlawton commented on #764
I find that choice of callback URL really surprising. I may be mistaken, but I believe that iOS authentication controllers require that you use a custom scheme, so I don't think that that callback URL would be supported.

[2021-03-31 17:08] #761 closed, assigned to PJSimon, sujaygarlanka

[2021-03-31 17:29] dabeku commented on #764
AFAIK it's the official callback URL that worked fince since a few years. Could you tell me the "correct" https:// callback URL for iOS?

[2021-04-14 21:59] swfree commented on #752
Hi @bawanevaibhavi,

There was a change at the end of last year to require a Redirect URI for OAuth 2 Box Apps. Check out the post here for more context and for steps on how to update your application to fix the error you are seeing: https://developer.box.com/changelog/#2020-12-14-blank-oauth2-redirect-uri-change.

Impacted applications would have received emails to the developer email address ass

[2021-04-14 22:51] swfree commented on #754
Hi @hironytic,

Thanks for reporting this issue and putting up the PR! The fix looks good, we'll work on getting that merged in.

@swfree

[2021-04-16 16:16] #754 closed, assigned to PJSimon, sujaygarlanka

[2021-05-17 19:05] rayfix opened #775 "Warning: Enum case 'success' has one associated value that is a tuple of 2 elements"
This line generates a warning

https://github.com/box/box-ios-sdk/blob/3dc34a7d0ad2741b3792d0e81db29527eb5489e3/Sources/Sessions/DelegatedAuth/DelegatedAuthSession.swift#L106

[2021-07-07 11:04] gopalIOS1989 opened #780 "Need Help For Integration"
I have added Pod in My Objective c.
Import BoxSdk
But Not Getting Any Function. means BooxSDK getClient ...

[2021-07-08 07:19] tapan-nathvani opened #782 "How can i use latest pod into my objective-c project"
I have installed latest POD version in my objective-c project.
When i try to use your BoxSDK class in AppDelegate file then its not working.. it says library not found.

Can you please guide me to use your latest swift pod version into objective-c? are you supporting @objc?

[2021-07-08 08:07] jlawton commented on #780
Hi @gopalIOS1989.

As of version 3, this SDK has been designed for use in Swift codebases, and is not compatible with Objective-C. This represents the significant majority of apps newly adopting the SDK.

You might look at the [objective-c-maintenance](/box/box-ios-sdk/tree/objective-c-maintenance) branch. I believe the latest Objective-C compatible release was [v2.4.0](/box/box-ios-sdk/releases/t

[2021-07-08 08:09] jlawton commented on #782
The latest SDK does not support Objective-C.

See #780 for more.

[2021-07-08 08:09] #782 closed, assigned to PJSimon, sujaygarlanka

[2021-07-08 09:36] gopalIOS1989 commented on #780
![Screenshot 2021-07-08 at 3 05 31 PM](https://user-images.githubusercontent.com/76942495/124899798-1744bc80-dffe-11eb-8ad6-89530f76ae35.png)

We are not able to install framework using Carthage. Attached error and is there any other way to use your objective-c SDK (2.4.0) like using pod?

[2021-07-16 17:14] jlawton commented on #780
Does the `--use-xcframeworks` flag mentioned in the error help? It should alternatively be possible to drag the framework project into your project and add it as a target dependency for your app.

[2021-09-16 13:34] MirceaX2Mobile commented on #744
I have the same issue, I can't refresh the token after 24 hours. Im creating a TokenInfo and then after getting the OAuth2Client and im calling refreshToken method from the currentSession, but it's failing with "token is expired".

[2021-10-19 13:01] #775 closed, assigned to nobody

[2021-10-21 15:00] arjankowski commented on #764
Hi @dabeku

Unfortunately there is not any "correct" https://callback for this.

When using OAuth2 authentication in our iOS SDK we use internally `ASWebAuthenticationSession`.
Its implementation requires from us a **custom URL scheme** which means that neither http or https are valid.

This custom url scheme is required to notify ASWebAuthenticationSession that it's time to back to our app from a

[2021-10-21 15:14] arjankowski commented on #780
Hi @gopalIOS1989,

Do you still need any help with this issue?
Have you tried `--use-xcframeworks` flag already?

[2021-12-10 15:24] BenQF opened #804 "Calls run but completions are never returned?"
- [ x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [ x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [ x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [ x] I have searched [Issues in this repo][github-repo]

[2021-12-10 16:51] arjankowski commented on #804
Hi @BenQF,

Unfortunately I can not reproduce this issue on my local setup.
But file upload could take a while especially when the uploading file has a big size.

Is this is your case, please try with smaller one to make sure that it works.
Perhaps the log from request was displayed to console but after some time? Can you check this please?

What I can also suggest is to pass additional parameter

[2021-12-10 17:27] BenQF commented on #804
Hi @arjankowski
Thanks for the reply I had tried that as well since its nice to see progress,

▷ POST https://upload.box.com/api/2.0/files/content
▷ Headers:
    ▷ X-Box-UA, Value: agent=box-swift-sdk/5.0.0; env=iPhone XS/15.1
    ▷ Authorization, Value: Bearer *Hiding*
▷ Body: Multipart
"Total progress: 0.95%"
"Total progress: 1.9%"
"Total progress: 95.0%"
"Total progress: 100.0%"

Always the sam

[2021-12-13 12:40] arjankowski commented on #804
Hi @BenQF,

On my setup which is below uploading a file works every time:
- iOS: iPhone: 11/15.1
- Xcode: Xcode 13.1
- iOS SDK: 5.0.0

Is this possible that will you send me to an email sample file upload project that does not run for you?
Of course without any credentials and any private data.
This will help me find the cause of the error.

[2021-12-13 17:02] BenQF commented on #804
Hi @arjankowski
I uploaded a test project to github and added you on it. It just has our podfile, and a get client and upload call. Gets client uploads to box fine I can see the file, however no callback to the application.

The output I'm seeing appears like this in the file I've provided(with private data hidden for github).

▷ GET https://api.box.com/2.0/users/me?fields=name,login
▷ Headers:

[2021-12-14 09:28] arjankowski commented on #804
hi @BenQF,

In your repo I actually can see only one `Init` commit without any Box code sample.
Can you update it with changes you mention?

[2021-12-14 14:51] BenQF commented on #804
Hi @arjankowski
Pushed that update sorry about that.

[2021-12-14 16:26] arjankowski commented on #804
Hi @BenQF,

I've just pushed a PR for your repo with some working code.

The `client` has scope of the `viewDidLoad` method. So after execution of this method it's gone.

But to correctly execute a callback function a BoxClient instance should still exists, otherwise
it wont be executed like in your case.  (See BoxClient.swift line 161).

To fix this please move the BoxClient declaration outside t

[2021-12-16 10:41] arjankowski commented on #804
Hi @BenQF

Is the problem still present and can I help somehow?

[2021-12-16 21:08] BenQF commented on #804
No you've been very helpful thanks!

[2021-12-16 21:08] #804 closed, assigned to antusus, mhagmajer, mwwoda, arjankowski

[2022-01-27 23:52] Sopan commented on #702
@sujaygarlanka Is it done yet?

[2022-03-15 12:24] mgrytsai commented on #702
@Sopan we haven't worked on adding MacOS support yet. It is still in the backlog, but there is no concrete timeline.

[2022-03-25 09:20] #595 closed, assigned to nobody

[2022-03-25 09:21] mgrytsai commented on #595
Closing the issue due to inactivity. If you feel that we still need to look at it, please re-open the ticket.

A potential workaround is described here #564.

[2022-04-26 20:16] potrebic opened #840 "Customer Content-Type is being overwritten in createRequest in the BoxNetworkAgent"
- [x] I have checked that the [SDK documentation][sdk-docs] doesn't solve my issue.
- [x] I have checked that the [API documentation][api-docs] doesn't solve my issue.
- [x] I have searched the [Box Developer Forums][dev-forums] and my issue isn't already reported (or if it has been reported, I have attached a link to it, for reference).
- [x] I have searched [Issues in this repo][github-repo] and

[2022-04-27 09:59] lukaszsocha2 commented on #840
Hi @potrebic,
customer Content-Type is being overwritten only when the specific body type is detected (json array, json object, url encoded form, multipart). So we overwrite it only when we are sure what the body content type really is. In other cases the customer header is passed without any change. Do you have any specific case when you need to send different Content-Type header than the actual

[2022-05-05 14:11] arjankowski commented on #840
Fixed in #841

[2022-05-05 14:11] #840 closed, assigned to antusus, mhagmajer, mwwoda, arjankowski

[2022-09-05 13:21] robertwijas commented on #758
This seems like a quite severe issue and it's still not fixed after a year, weird 🤔
Is there a workaround that people use?

FYI @arjankowski

[2022-09-06 08:11] arjankowski commented on #758
Hi @robertwijas, sorry for the inconvenience.
We'll do our best to fix it later this month.

[2022-10-06 18:02] dibelogrivaya opened #874 "Redirect information on the grant access screen"
Hello!

I can't understand, why I see this information in the red box (granting access will redirect ...) and what should I do to hide it.
I use **BoxSDK (5.2.1)**.

![Simulator Screen Shot - iPhone 14 Pro - 2022-10-06 at 19 42 19](https://user-images.githubusercontent.com/1580342/194385850-fc80792e-f719-417c-8702-dbf8a7fc87d7.png)

Thanks!

[2022-10-07 08:17] arjankowski commented on #874
Hi @dibelogrivaya,

During the OAuth flow user is redirected to log in page, and then to the page with requested scopes and option to approve, where you can see this message `Granting access will redirect to <YOUR_REDIRECT_URL>`.  This is what it looks like in the box regardless of the system/sdk/web browser.  Because of that you don't have any option in SDK itself to hide this redirect_url.

If y

[2022-10-20 09:54] bvirlet commented on #758
Hello,

Do you have plans to fix this? No users with 2FA enabled can log in in Box anymore.

The attached project reproduces the problem (I mean, it's just a sample project that shows that I do nothing else than trying to create a Box client with OAuth).

It looks like the fix is an incorrect redirect URL on the server-side.

As described by @theli in their support forum issue, instead of redirect

[2022-10-20 10:14] arjankowski commented on #758
Hi @bvirlet ,

The SDK team has already investigated this problem and found its root cause. As the problem is on the backend, we forwarded this issue to the appropriate team with our fix proposal.
We are now waiting for a reply.

As soon as they fix this, we will let you know.

Regards,
Artur

[2022-10-20 11:25] bvirlet commented on #758
Thank you Artur. Do you have an ETA on a fix?

[2022-10-24 10:26] arjankowski commented on #758
Hi @bvirlet, I haven't got any answer about ETA yet.
As soon as I get any answer, I will let you know.